<div id="comment" class="comment append-bottom ui-widget-content normal-pad">
  <% if !comment.nil? %>
    <%= render :partial => "/shared/ubox", :locals => {:user => comment.user} %>
    <div class="comment-body">
      <%= RedCloth.new(comment.body).to_html %>
    </div>
    <div class="prepend-top" id="">
      <% if current_user %>
        <% unless CommentLike.liked_by? current_user, comment.id %>
          <span class="small clike likeme" id="commentlike_<%= comment.id %>" onClick="likeComment($(this).attr('id'))">
            Like</span>
            <%= like comment, false %>
          <% else %>
            <%= like comment, true %>
          <% end  %>
        <% end  %>
    </div>
  <% end  %>
</div>