<div id="comments_container" class="prepend-top span-18 last generic-bg">
  <div class="normal-pad">
    <h4 class="bld bottom-mar"><span class="sprite discussion-icon"></span>Discussion </h4>
    
    <% if current_user.nil? %>
      <%= link_to "Please login to comment", login_path, :class => "bld small"  %>
    <% else %>
      <div id ="comment_form" class="rel-pos  ">
        <div id="com_submit_loading" style="display:none">
          <div class="loading-inner-center" ></div>
        </div>
        <% form_for (Comment.new), :vt_id => vote_topic.id do |f| %>
          <%= hidden_field_tag :selected_response_for_comment, selected_response_for_comment%>
          <%= hidden_field_tag :vt_id, vote_topic.id%>
          <ul class="list_no_pad_no_style" style="margin-right: 0;">
            <li class="nbm"><%= f.textile_editor :body,  :class => "", :id => "comment_body" -%></li>
            <li class="inv" id="comment_tools">
              <span id="limit_status" class="right-mar small quiet"></span> <span id="comment_status" class="left-mar small quiet"></span>
              <span class="regular-button go-right"  id ="comment_submit">Discuss</span>
            </li>
          </ul>
          <%= textile_editor_initialize(:framework => :jquery) %>
        <% end %>
      </div>
    <% end  %>
  </div>
</div>

<div id ="comments" class="span-18 last generic-bg">
  <div class="normal-pad" id="">
    <div id="tabs">
      <ul>
        <% vote_topic.vote_items.each do |vi| %>
          <li class="t-trigger"><a  title="comments_content_<%=vi.id%>"
                                    href="<%= url_for(:controller => :comments, :action => :index,  :vi_id => vi.id, :vid => vote_topic.id) %>"> <span><%= vi.option[0..10] + "..." %></span></a>
          </li>
          <%= make_tooltip "Comments from people who voted on #{vi.option}" %>
        <% end  %>
        <li class="t-trigger">
          <a title ="comments_content_" href="<%= url_for(:controller => :comments, :action => :index,  :vi_id => nil, :vid => vote_topic.id) %>"><span>Others</span></a>
        </li>
        <%= make_tooltip "Comments from people who have not voted." %>
      </ul>
      <% vote_topic.vote_items.each do |vi| %>
        <div class="" id="comments_content_<%=vi.id%>">
        </div>
      <% end  %>
    </div>
  </div>
</div>