<html>
  <head>
    <title>Friendly vote invitation from <%= @vote_topic.poster.username %> at <%= @site_name  %></title>
  </head>
  <body>
    <p>
      Your friend <%= @vote_topic.poster.username %> at <%= link_to @site_name, root_url  %> wants your opinion on  "<%= @vote_topic.header %>".
      <br/>
      <%= @vote_url %>
    </p>
    <p>
      <%= @site_name %> is a community for gathering collective opinion and trending various topics. See you there!
    </p>
    
    <p>
      The <%= @site_name %> team.
    </p>
  </body>
</html>