<html>
  <head>
    <title>Invitation from <%= @site_name  %></title>
  </head>
  <body>
    <p>
      Your friend <%= @friend_invitation.user.username %> at <%= link_to @site_name, root_url  %> has invited you to join <%= @site_name %> and share your opinion by voting.
    </p>
    <p>
      <%= @site_name %> is a community for gathering collective public opinion any topic. See you there!
    </p>
    <p>
      The <%= @site_name %> team.
    </p>
  </body>
</html>