<html>
  <head>
    <title>Friendly vote invitation from <%= @site_name  %></title>
  </head>
  <body>
    <p>
      Your friend at <%= link_to @site_name, root_url  %> has invited you to a vote on "<%= @vote_topic.header %>".
    </p>
    <p>
      <%= @site_name %> is a community for gathering collective opinion and trending various topics. See you there!
    </p>
    
    <p>
      The <%= @site_name %> team.
    </p>
  </body>
</html>