<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function(){
    $('#register_submit').button({icons:{primary:'ui-icon-circle-check'}}).click(function(){
      $('form').submit();
      return false;
    });
  });
  //]]>
</script>
<% semantic_form_for @user, :html => {:multipart => true} do |form| %>
  <%= form.semantic_errors%>
  <% form.inputs do  %>
    <% if form.object.new_record? %>
      <li><%= link_to "Already have an account? Please login.", login_path, :class => 'bld big' %></li>
      <li>Fields marked with * are required.</li>
    <% end  %>
    <%= form.input :username, :input_html => {:style => "width:20%"} %>
    <%= form.input :password, :label => form.object.new_record? ? "Password" : "Change password", :input_html => {:style => "width:20%"} %>
    <%= form.input :password_confirmation , :input_html => {:style => "width:20%"}%>
    <%= form.input :email, :input_html => {:style => "width:20%"} %>
    <%= form.input :zip, :label => 'Your Zipcode', :input_html => {:style => "width:10%"} %>
    <%= form.input :sex, :as => :radio, :collection => {"M" => 0, "F" => 1} %>
    <%= form.input :age, :as => :select, :collection => Constants::USER_AGE_RANGE.map{|x| [x, x]} %>
    <% if form.object.new_record? %>
      <%= form.input :image %>
    <% else %>
      <% if !missing_user_image?(form.object) %>
        <%=image_tag form.object.image.url(:small)   %>
        <% img_label = "Replace Profile Image" %>
      <% else  %>
        <% img_label = "Add Profile Image" %>
      <% end  %>
      <%= form.input :image,  :label => img_label %>
    <% end  %>
    <%# if form.object.new_record? %>
    <li class="bld">Please enter the text as it appears in the image.</li>
    <li><%= recaptcha_tags :display => {:theme => 'clean'} %></li>
    <%# end  %>
  <% end  %>
  <% if @user.new_record? %>
    <%#= rpx_popup( :link_text => ".. or register using RPX", :app_name => Constants::RPX_APP_NAME, :return_url => user_sessions_url, :unobtrusive => false ) %>
  <% else %>
    <% if @user.using_rpx? %>
      <div class="prepend-top append-bottom">
        "This account is enabled for OpenId Authentication"
        (<%= rpx_popup( :link_text => "Add another RPX authentication provider to this account", :app_name => Constants::RPX_APP_NAME, :return_url => addrpxauth_url, :add_rpx => true, :unobtrusive => false ) %> )
      </div>
    <% else %>
      <!-- <div class="prepend-top append-bottom"> -->
      <%#= rpx_popup( :link_text => "Add RPX authentication for this account..", :app_name => Constants::RPX_APP_NAME, :return_url => addrpxauth_url, :add_rpx => true, :unobtrusive => false ) %>
      <!--</div>-->
    <% end %>
  <% end %>
  <ul>
    <li>
      <span class=""><button id="register_submit"><%= form.object.new_record? ? "Register" : "Update Profile" %></button></span>
    </li>
  </ul>

  <%#= form.commit_button "Register" %>
<% end  %>