<% if local_assigns[:owner].nil?
  owner = nil
end
%>
<%
subject = !owner.nil? ? "You have " : "#{@user.username} has"
adverb = !owner.nil? ? "Your " : "#{@user.username}'s "
#todo review this
good_msg = @user.get_voting_power < Constants::VOTING_POWER_NORMAL_USER ? "Good Start! " : "Well Done! "
%>

<div class="" id="">
  <table class="prepend-top influence-table" id="">
    <tr>
      <td>
        <span class="influence-score" id="">
          <%=@user.p_topics_count%>
        </span><br/>Votes Started
      </td>
      <td>
        <span class="influence-score" id="">
          <%=@user.total_votes_collected%>
        </span><br/>Votes Generated
      </td>
      <td>
        <span class="influence-score" id="">
          <%= Vote.user_total_votes_posted(@user) %>
        </span><br/>Votes Posted
      </td>
      <td>
        <span class="influence-score" id="">
          <%=@user.total_trackings_collected%>
        </span><br/>Followings
      </td>
      <td class="no-bord">
        <span class="influence-score" id="">
          <%=@user.total_discussions_collected%>
        </span><br/>Discussions
      </td>
    </tr>
  </table>
</div>