<% if current_user && current_user == @user
  owner = true
end  %>

<% content_for :title do %>
  <%= "#{@user.username} | #{t 'site_name'}"  %>
<% end  %>
<%# share_url = Constants::SHARE_URL_PREFIX.concat(scoped_vote_topic_path(@vote_topic.category, @vote_topic)) %>
<% share_url = "http://" + APP_CONFIG['site_domain'] + (user_path(@user)) %>
<%content_for :fb_metas do %>
  <meta property="og:title" content="<%= "#{@user.username} | #{t 'site_name'}" %>"/>
  <meta property="og:url" content="<%= share_url %>"/>
  <meta property="og:site_name" content="<%= t 'site_name' %>"/>
  <meta property="og:description" content="<%= "#{@user.username}'s activity at #{t 'site_name'}"%>"/>
  <meta property="fb:app_id" content="<%= APP_CONFIG['facebook_app_id'] %>"/>
<% end  %>

<script type="text/javascript">
  //<![CDATA
  function liveLoad(url) {
    $.ajax({
      url: url,
      type: 'GET',
      dataType: 'html',
      beforeSend :function() {
        showLoading("#loading")
      },
      success : function(data){
        $("#content_area").html(data);
      },
      error : function(){},
      complete:function(){
        hideLoading("#loading");
        ModalVoteForm.init();
      }
    });
  }

  function cleanCurrent() {
    $("div.profination a").each(function() {
      $(this).removeClass("current");
    });
  }
  $(document).ready(function(){
    $('.live-link').each(function() {
      $(this).click(function() {
        var url = $(this).attr("href");
        cleanCurrent();
        $(this).addClass("current");
        liveLoad(url);
        return false;
      });
    });
    $('#invite').live('click', function() {
      configureEmailOverlay("Check this out!", "send", "invite friends", "invite", "0");
      showEmailOverlay();
      return false;
    });

    $('#profile_edit').button({icons:{primary:'ui-icon-key'}})
    
    $('.pagination a').live("click", function () {
      var elementToBeFilled = $(this).parent('.pagination').parent('').attr('id');
      $(this).addClass('loading-link')
      $.ajax({
        type : 'GET',
        url : this.href,
        complete : function() {
          $(this).removeClass('loading-link')
        },
        dataType : 'script',
        data:"container_name="+elementToBeFilled
      })
      return false;
    });
    $("#votes_started").click();
<%if current_user && owner%>
      $('#headline').editable("<%= update_headline_user_path(current_user.id) %>", {
        cancel    : 'Cancel',
        submit    : 'Update',
        cssclass  : 'dynform',
        indicator : '<img src="../images/loading.gif">',
        tooltip   : 'Click to edit...'

      });
      $('#about').editable("<%= update_about_user_path(current_user.id) %>", {
        type      : 'textarea',
        cssclass  : 'dynform',
        cancel    : 'Cancel',
        submit    : 'Save',
        indicator : '<img src="../images/loading.gif">',
        tooltip   : 'Click to edit...'
      });
      $('#status').editable("<%= update_status_user_path(current_user.id) %>", {
        type      : 'textarea',
        cssclass  : 'dynform',
        cancel    : 'Cancel',
        submit    : 'Update',
        indicator : '<img src="../images/loading.gif">',
        tooltip   : 'Click to edit...'
      });
      $('#email_profile').button({icons:{primary:'ui-icon-mail-closed'}}).click(function(){
        configureEmailOverlay("<%= current_user.username  %> wants to share a profile with you. \n", "share", "share", "profile",  "1");
        showEmailOverlay();
        return false;
      });
<%end %>
    
  });

  //]]>
</script>


<div class="span-18 last " id="">
  <div class="normal-pad" id="">
    <table class="vote-preview" id="" style="table-layout: fixed">
      <tr>
        <td class="val" style="width:20%">
          <div id="user_image" class="user-image">
            <%= get_large_user_avatar(@user)%>
            <span class="big-vote-power clearfix top-mar center-t t-trigger">
              <%= @user.voting_power %>
            </span>
            <%= render :partial => "/shared/tooltip", :locals => {:text => "My Influence Score"} %>
          </div>
        </td>
        <td class ="val" rowspan="2" style="width:80%">
          <ul class="list_no_pad_no_style" id="">
            <li><h4 class="nbm bld"><%= @user.username %></h4></li>
            <% permitted_to? :update, @user do %>
              <li class="nbm"> <span class="quiet small">headline</span></li>
            <% end  %>
            <li>
              <h3 id="headline"><%= headline @user %></h3>
            </li>
            <% permitted_to? :update, @user do %>
              <li class="nbm"> <span class="quiet small">about me</span></li>
            <% end  %>
            <li>
              <div class="small" id="about">
                <%= about @user %>
              </div>
            </li>
            <li>
              <div class="bld">status: </div>
              <div class="" id="status">
                <%= status @user %>
              </div>
            </li>
            <% if owner %>
              <li class="r-t-a"><span class="small quiet">click on a field to edit</span></li>
            <% end  %>
          </ul>
        </td>
      </tr>
      <tr>
      </tr>
    </table>
  </div>
</div>

<div class="span-18 last" id="">
  <div class="normal-pad" id="">
    <div class="profination" id="">
      <% permitted_to? :update, @user do %>
        <a href="<%= edit_user_path %>" class="" id="">account information</a>

        <a class="live-link" href="<%= interests_path %>" class="" id="interests" >
          interests
        </a>

      <% end  %>
      <a class="live-link" href="<%= url_for(:controller => :users, :action => :vp_stats, :id => @user.id) %>" class="" id="influence">
        my influence
      </a>
      <a class="live-link" href="<%= url_for(:controller => :vote_topics, :action => :index, :listing_type => 'user_all',
           :user_id => @user.id)%>" class="" id="votes_started" >
        votes i started
      </a>

      <a class="live-link" href="<%= url_for(:controller => :vote_topics, :action => :index,:listing_type => "tracked_all")%>" class="" id="following" >
        i am following
      </a>
      <a class="live-link" href="<%= url_for(:controller => :votes, :action => :index, :listing_type => 'voted', :user_id => @user.id) %>" class="" id="voted_on">
        i voted on
      </a>
    </div>
  </div>
</div>

<div class="span-18 last" id="">
  <div id="loading" style="display:none">
    <div class="loading-inner-center-t" ></div>
  </div>
  <div class="normal-pad top-border" id="content_area">

  </div>
</div>


<!--<div class="push"></div>-->

<% content_for :right_nav do %>
  <ul class="list_no_pad_no_style" id="">
    <li class="big bld dotted-bottom">Share  Profile</li>
    <li>
    <fb:like layout="button_count" href="<%= share_url %>" width="200" ></fb:like>
  </li>
  <li>
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= share_url %>" data-count="horizontal">Tweet</a>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </li>
  <li>
    <a class="DiggThisButton DiggCompact" href="http://digg.com/submit?url=<%=share_url%>"></a>
  </li>
  <% if current_user && owner%>
    <li>
      <span class="small-button"><button id="email_profile">Email</button></span>
    </li>
  <% end  %>
  </ul>
  <%#= render :partial => 'profile_help' %>

  <hr/>
  <% if owner %>
    <div class="" id ="invite">
      <div class="normal-pad ui-state-hover bld rounded-corners clike center-t" id="invite">
        invite friends
      </div>
    </div>
  <% end  %>

  <% if !owner %>
    <%= render :partial => "/shared/user_side_bar_widget", :locals => {:header => "Top Voters", :load_path =>
        top_voters_users_path(:type => "top_voters"), :l_type => "top_voters", :first => true} %>
    <%= render :partial => "/shared/vote_side_bar_widget", :locals => {:header => "Featured Votes by #{@user.username}", :load_path =>
        side_bar_index_vote_topics_path(:type => "featured_votes_by_user", :user_id => @user.id), :l_type => "featured_votes_by_user", :first => false} %>
  <% end  %>
<% end  %>

<div class="email-overlay generic-overlay" id="email_overlay">
  <%= render :partial => '/shared/email_something' %>
</div>

<div id="fb-root">
</div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId: "<%= APP_CONFIG['facebook_app_id']%>"  ,
      status: true,
      cookie: true,
      xfbml: true}
  );
  };
  (function() {
    var e = document.createElement('script');
    e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }()
);
</script>
<script type="text/javascript" src ="http://widgets.digg.com/buttons.js"/>
<script type="text/javascript">
  (function() {
    var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
    s.type = 'text/javascript';
    s.async = true;
    s.src = 'http://widgets.digg.com/buttons.js';
    s1.parentNode.insertBefore(s, s1);
  })();
</script>
