<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function(){

    $('#profile_edit').button({icons:{primary:'ui-icon-key'}})
    $('#tabs').tabs({
      spinner:"<img src='/images/loading.gif'/>",
      ajaxOptions:{
        error:function(xhr, status,index, anchor){
          $(anchor.hash).html("Couldn't load this tab. \n\
        We'll try to fix this as soon as possible.");
        },
        dataType:'script',
        success:function(){
        }
      }
    });
  });
  //]]>
</script>

<div class="span-18 last">
  <div class="right-mar prepend-top normal-pad ui-widget-content append-bottom">
    <div id="tabs" class="prepend-top">
      <ul>
        <% permitted_to? :update, @user do %>
          <li><a href="#user_tab"><span>Account</span></a></li>
        <% end  %>
        <li  title="Votes you have started."><a  href="<%= url_for(:controller => :vote_topics, :action => :index, :listing_type => 'user', :user_id => @user.id)%>"><span>Your Votes</span></a></li>
        <li  title ="Votes you have voted on"><a  href="<%= url_for(:controller => :votes, :action => :index, :listing_type => 'voted', :user_id => @user.id) %>"><span>You Voted </span></a></li>
      </ul>

      <% permitted_to? :update, @user do %>
        <div id ="user_tab">
          <ul class="profile-list prepend-top">
            <li class="bld" style="width:150px">
              <%= render :partial => "/shared/ubox", :locals => {:user => @user} %>
            </li>
            <li>
              Authentication Provider: <%= h @user.using_rpx? ? @user.get_rpx_providers : (t 'site_name') %>
            </li>
            <li>
              Email:
              <%=h @user.email %>
            </li>
            <li>
              Gender:
              <%=h User::SEX[@user.sex] %>
            </li>
            <li>
              Age:
              <%=h @user.age %>
            </li>
            <li>
              Zip:
              <%=h "#{@user.zip} (#{@user.city}, #{@user.state})"   %>
            </li>
            <% permitted_to? :update, @user do %>
              <li>
                <span class="small-button"><%= link_to 'Edit', edit_user_path(@user), :id => 'profile_edit' %></span>
              </li>
            <% end  %>
          </ul>
        </div>
      <% end  %>
    </div>
  </div>
</div>
<div class="push"></div>
