<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function(){
    $("a[rel='#how_overlay']").overlay({
      top: "center"
    });
    $('#home_tabs').tabs(
    {
      spinner:"<img src='/images/loading.gif'/>",
      cookie : {
        expires : 1
      },
      //select:function(event, ui){$('#tabs').animate({opacity:.3}, 'slow', function() {});},
      ajaxOptions:
        {
        error:function(xhr, status,index, anchor){$(anchor.hash).html("Couldn't load this tab. We'll try to fix this as soon as possible.");
        },  
        dataType:'script',
        success:function(){
        }
      }
    }
  );

  });
  //]]>
</script>


<div class="span-18 last" id="">
  <div class="normal-pad home-info" id="">
    <% if current_user %>
      <h4 class="normal-pad bld append-bottom bottom-border">Developing trends in the community and your city</h4>
    <% else %>
      <h4 class="normal-pad bld append-bottom bottom-border">Developing trends in the community</h4>
    <% end  %>
    <div class="" id="">
      <a href="#" class="big bld special-text small go-right" rel="#how_overlay">How do I use <%= t 'site_name' %>?</a>
    </div>
  </div>
</div>

<div class="span-18 last append-bottom" id="">
  <div class="normal-pad profination center-t home-links" id="">
    <%= link_to "Featured", vote_topics_path(:listing_type => "featured_all") %>
    <%= link_to "Highly Followed", vote_topics_path(:listing_type => "most_tracked_all") %>
    <%= link_to "Most Discussed", vote_topics_path(:listing_type => "most_discussed_all") %>
    <% if current_user %>
      <%= link_to "You are following", user_path(current_user) %>
    <% end  %>
  </div>
</div>

<div id="top_tab_container" class="span-18 last ">
  <div class="normal-pad  " id="">
    <div id="home_tabs" class="">
      <ul>
        <li><a  href="<%= url_for(:controller => :vote_topics, :action => :index, :limited => true, :listing_type => "general_limited")%>"><span>Latest</span></a></li>
        <% if current_user %>
          <% if !current_user.city.nil? %>
            <li><a   href="<%= city_vote_topics_path(current_user.city, :limited => true)%>"><span><%= current_user.city %></span></a></li>
          <% end  %>
        <% end  %>
      </ul>
    </div>
  </div>
</div>

<% content_for :right_nav do %>
  <div class="rel-pos">
    <fb:activity site=<%= APP_CONFIG['site_domain'] %> recommendations="true" width="230" height="500" border_color="#DDDDDD" ></fb:activity>
  </div>
  <%= render :partial => "/shared/vote_side_bar_widget", :locals => {:header => "Latest", :load_path =>
      side_bar_index_vote_topics_path(:type => "latest"), :l_type => "latest", :first => false} %>

  <%= render :partial => "/shared/vote_side_bar_widget", :locals => {:header => "No Contest", :load_path =>
      side_bar_index_vote_topics_path(:type => "unan"), :l_type => "unan", :first => false} %>

  <!--<div class="  prepend-top ui-widget-content">
    <fb:facepile max-rows="5" width="230"></fb:facepile>
  </div> -->
<% end %>



<div id="fb-root" class="span-18 last">
</div>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId: "<%= APP_CONFIG['facebook_app_id']%>"  ,
      status: true,
      cookie: true,
      xfbml: true}
  );
  };
  (function() {
    var e = document.createElement('script');
    e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }()
);
</script>
<div class="ui-widget-content simple_overlay ui-corner-all" id="how_overlay" style="">
  Coming soon!
</div>