<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function(){
    $('#tabs').tabs( {spinner:"<img src='/images/loading.gif'/>", select:function(event, ui){$('#tabs').animate({opacity:.3}, 'slow', function() {});},
      ajaxOptions:{error:function(xhr, status,index, anchor){$(anchor.hash).html("Couldn't load this tab. We'll try to fix this as soon as possible.");
        },  dataType:'script', success:function(){
          //$('#loading').hide();
          $('#tabs').animate({opacity:1.0}, 'slow', function() {});
        }
      }});
  });
  //]]>
</script>

<div id="top_tab_container" class="span-18 last rel-pos">
  <div id ="loading" class="home-loading" style="display:none">
    <div class ="loading-inner-top">
    </div>
  </div>
  <div id="tabs" class="normal-pad  ui-widget-content">
    <ul>
      <li><a  href="<%= url_for(:controller => :vote_topics, :action => :index, :listing_type => "top")%>"><span>Most Voted</span></a></li>
      <li><a href="<%= url_for(:controller => :vote_topics, :action => :index, :listing_type => "most_tracked") %>"><span>Most Tracked</span></a></li>
      <li><a href="<%= url_for(:controller => :vote_topics, :action => :index, :listing_type => "featured") %>"><span>Featured</span></a></li>
      <% if current_user %>
        <% local = current_user.city.nil? ? "Local" : "In " + current_user.city.titleize %>
        <li><a   href="<%= url_for(:controller => :vote_topics, :action => :index, :listing_type => "local")%>"><span><%= local %></span></a></li>
        <li><a   href="<%= url_for(:controller => :vote_topics, :action => :index, :listing_type => "tracked")%>"><span>You are Tracking</span></a></li>
      <% end  %>
    </ul>
  </div>
</div>
<% content_for :right_nav do %>
  <div class="span-6 last  prepend-top ui-widget-content">
    <fb:activity site="web1.tunnlr.com" recommendations="true" width="230" height="500" border_color="#DDDDDD" ></fb:activity>
  </div>
  <%= render :partial => "latest_votes" %>
  <%= render :partial => "unan_votes" %>
  <!--<div class="span-6 last  prepend-top ui-widget-content">
    <fb:facepile max-rows="5" width="230"></fb:facepile>
  </div> -->
<% end %>

<div id="fb-root">
</div>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId: "<%= APP_CONFIG['facebook_app_id']%>"  ,
      status: true,
      cookie: true,
      xfbml: true}
  );
  };
  (function() {
    var e = document.createElement('script');
    e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }()
);
</script>
