<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function(){
    $('#home_tabs').tabs(
    {
      spinner:"<img src='/images/loading.gif'/>",
      cookie : {
        expires : 1
      },
      //select:function(event, ui){$('#tabs').animate({opacity:.3}, 'slow', function() {});},
      ajaxOptions:
        {
        error:function(xhr, status,index, anchor){$(anchor.hash).html("Couldn't load this tab. We'll try to fix this as soon as possible.");
        },  
        dataType:'script',
        success:function(){
          //$('#loading').hide();
          // $('#tabs').animate({opacity:1.0}, 'slow', function() {});
        }
      }
    }
  );

    /**
    var dialogOpts = {
      modal: true,
      title : "Start a Vote!",
      bgiframe: true,
      autoOpen: false,
      height: 500,
      width: 700,
      draggable: true,
      resizeable: true
    };

    $("#new_vt").dialog(dialogOpts);   //end dialog

    $('#showdialog').click(function() {
      $.get(
      " new_user_posted_vote_topic_path(current_user)",
      "",
      function(data, textStatus, XMLHttpRequest) {
        $('#new_vt').html(data);
        $('#new_vt').dialog('open');
      }
    );
      return false;
    }); **/
  });
  //]]>
</script>

<!-- to do in future may be?
<a href="#" class="" id="showdialog">
</a>
<div class="" id="new_vt">

</div> -->
<div id="top_tab_container" class="span-18 last rel-pos">
  <div id="home_tabs" class="normal-pad  ui-widget-content">
    <ul>
      <li><a  href="<%= url_for(:controller => :vote_topics, :action => :index, :limited => true, :listing_type => "general_limited")%>"><span>Latest</span></a></li>
      <li><a href="<%= url_for(:controller => :vote_topics, :action => :index, :limited => true, :listing_type => "featured") %>"><span>Featured</span></a></li>
      <li><a href="<%= url_for(:controller => :vote_topics, :action => :index, :limited => true,:listing_type => "most_tracked") %>"><span>Most Tracked</span></a></li>
      <% if current_user %>
        <% if !current_user.city.nil? %>
          <li><a   href="<%= city_vote_topics_path(current_user.city, :limited => true)%>"><span>In <%= current_user.city %></span></a></li>
        <% end  %>
        <li><a   href="<%= url_for(:controller => :vote_topics, :action => :index, :limited => true,:listing_type => "tracked")%>"><span>You are Tracking</span></a></li>
      <% end  %>
    </ul>
  </div>
</div>
<% content_for :right_nav do %>
  <div class="  ui-widget-content">
    <fb:activity site=<%= APP_CONFIG['site_domain'] %> recommendations="true" width="230" height="500" border_color="#DDDDDD" ></fb:activity>
  </div>
  <%= render :partial => "/shared/vote_side_bar_widget", :locals => {:header => "Latest", :load_path =>
      side_bar_index_vote_topics_path(:type => "latest"), :l_type => "latest", :first => false} %>

  <%= render :partial => "/shared/vote_side_bar_widget", :locals => {:header => "No Contest", :load_path =>
      side_bar_index_vote_topics_path(:type => "unan"), :l_type => "unan", :first => false} %>

  <!--<div class="  prepend-top ui-widget-content">
    <fb:facepile max-rows="5" width="230"></fb:facepile>
  </div> -->
<% end %>


  
<div id="fb-root">
</div>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId: "<%= APP_CONFIG['facebook_app_id']%>"  ,
      status: true,
      cookie: true,
      xfbml: true}
  );
  };
  (function() {
    var e = document.createElement('script');
    e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }()
);
</script>
