<h4 class="ui-widget-header normal-pad append-bottom prepend-top">Disclaimer</h4>
<div class="prepend-top append-bottom">
THE SITE MAY CONTAIN ADVICE, OPINIONS, INSTRUCTIONS AND STATEMENTS FROM <%= t 'site_name' %>, ITS USERS AND OTHER INFORMATION PROVIDERS.
THIS CONTENT IS FOR INFORMATIONAL AND ENTERTAINMENT PURPOSES ONLY. YOU USE THE SITE AT YOUR OWN RISK. WE STRONGLY URGE YOU TO CONSULT A PROFESSIONAL OR SOME OTHER AUTHORITY IN
THE APPROPRIATE FIELD BEFORE USING ANY OF THE CONTENT ON THE SITE. TO THE MAXIMUM EXTENT PERMITTED BY LAW, <%= t 'site_name' %> MAKES NO REPRESENTATIONS, WARRANTIES OR CONDITIONS
OF ANY KIND,
EXPRESS OR IMPLIED, AS TO THE OPERATION OF THE SITE OR THE INFORMATION OR CONTENT INCLUDED ON THE SITE. TO THE MAXIMUM EXTENT PERMITTED BY LAW, <%= t 'site_name' %> EXPRESSLY
DISCLAIMS ALL
REPRESENTATIONS, WARRANTIES OR CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED REPRESENTATIONS, WARRANTIES OR CONDITIONS OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT AND THOSE ARISING FROM A COURSE OF DEALING, TRADE, USAGE OR PERFORMANCE. SOME JURISDICTIONS DO NOT
ALLOW LIMITATIONS ON IMPLIED WARRANTIES, AND THEREFORE SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU. NEITHER <%= t 'site_name' %>, ITS PARENT, ITS AFFILIATES, NOR ANY OF
THEIR RESPECTIVE
AGENTS, EMPLOYEES, INFORMATION PROVIDERS OR CONTENT PROVIDERS HAVE ANY LIABILITY FOR YOUR FINANCIAL, INVESTMENT, MEDICAL, HEALTH, DIETARY, NUTRITIONAL, LEGAL OR OTHER DECISIONS
BASED UPON,
OR THE RESULTS OBTAINED FROM, THE CONTENT ON THE SITE.
</div>
<p>
Without limiting any of the foregoing, <%= t 'site_name' %> makes the following specific disclaimers for the following categories of information:
</p>

<p class="bld append-bottom">INVESTMENT & FINANCIAL INFORMATION:</p>
The content located on the site is not financial or investment advice nor does it create any kind of investment
advisor or financial advisor relationship. You should NOT rely upon the financial and investment information or opinions provided herein and you should conduct your own independent
research and consult with your personal investment advisor before making an investment or financial decision. You are solely responsible for any investment and financial decisions,
omissions or actions you take.

<p class="bld append-bottom">MEDICAL & HEALTH INFORMATION:</p>
The content located on the site is not medical or health advice. The content should not be used to diagnose, treat or
cure any medical or health condition nor does it create any kind of doctor-patient or health/medical advisor relationship. You should NOT rely upon the medical, health, dietary,
nutritional or other professional information or opinions provided and you should always speak to your personal health care provider before beginning, changing or stopping any
medication or any treatment for a health problem. You are solely responsible for any decisions, omissions or actions you take based on choosing to seek or not to seek professional
medical care, or choosing or not choosing specific treatments.

<p class="bld append-bottom">LEGAL INFORMATION:</p>
The content located on the site is not legal advice nor does it create any kind of attorney-client or legal advisor relationship.
You should NOT rely upon the legal information or opinions provided and you should consult with your personal legal advisor; this site is not a substitute for an in-person
consultation with an attorney, as the applicability of the legal principles discussed at this site may differ substantially in individual situations or in different states or
countries. You are solely responsible for any legal decisions or actions you take or omissions you commit.


