<h4 class="ui-widget-header normal-pad prepend-top append-bottom">Terms of Use.</h4>
<p>Effective Date: August 10, 2010</p>

<p>THESE TERMS OF USE, AS AMENDED FROM TIME TO TIME (&quot;Terms&quot;),
  ARE A BINDING CONTRACT BETWEEN <%= t('site_name').upcase %>, INC. (&quot;
  Voteable&quot; or &quot;we&quot;) AND YOU (&quot;you&quot;). YOU MUST
  READ AND AGREE TO THESE TERMS, INCLUDING THE PRIVACY POLICY, BEFORE
  USING THE <%= t('site_name').upcase %>.COM WEBSITE (the &quot;Site&quot;) OR ANY
  APPLICATIONS, FEATURES OR FUNCTIONALITY AVAILABLE ON OR THROUGH THE
  SITE (COLLECTIVELY, THE &quot;SERVICE&quot;). BY USING THE SERVICE,
  YOU AGREE TO THESE TERMS. IF YOU DO NOT AGREE TO THESE TERMS, DO NOT
  USE THE SERVICE.</p>

<p><strong>Description of Service</strong>.
  <%= t('site_name')%>.com is where people collect public opinion on various topics and
		enjoy sharing in the <%= t('site_name')%> community.
</p>
<p ><strong>Age Requirement.</strong>
		You must be at least 13 years old to use the Service.
</p>
<p class ="bld">MODIFICATIONS TO TERMS</p>
<ul>
  <li>
    <strong>Procedure</strong>. At
		any time <%= t('site_name')%> may change these Terms, which includes the
		Privacy Policy and any other agreement that is incorporated by
		reference into these Terms. We will provide notice to you of any
		material change in the Terms by posting notice to the Site and
		sending you an email to the email address that we have on record
		for you. Your continued use of the Service 30 days after our notice
		to you of a change in the Terms will mean that you have agreed to
		be bound by the amended Terms.
  </li>
  <li>
    <strong>Your Obligation to Stay
		Current</strong>. It is critical that you keep your email contact
		information correct and updated with <%= t('site_name')%> at all times. In
		addition, we encourage you to check back regularly to review these
		Terms at least once every 30 days.
  </li>
  <li>
    We reserve the right to modify or discontinue, and restrict or
	block access to, the Service without notice to you. We may modify or
	remove any Content from the Service at any time without notice to
	you, including removal of Content that we believe to be obscene,
	lewd, lascivious, filthy, excessively violent, harassing, or
	otherwise objectionable. We are not liable for any such
	modification, suspension, discontinuance or removal, and any such
	action by us will not affect <%= t('site_name')%>'s license to your Content as
	stated in Section 5 below.
  </li>
</ul>

<p class ="bld">POSTING CONTENT ON THE SERVICE; REPRESENTATIONS AND
		WARRANTIES</p>
<ul class="" id="">
  <li>
    <strong>Content Protected by
		Intellectual Property Rights</strong>. Any content available
		through the Service, including applications, software, text, audio,
		video, pictures, graphics, music, sound clips, images, likenesses,
		personal information and other works of authorship (collectively,
    &quot;Content&quot;) is protected by the intellectual property
		rights of <%= t('site_name')%> or its licensors.

  </li>
  <li>
    <strong>Your Warranties Regarding
		Your Content</strong>. By displaying or publishing (&quot;posting&quot;)
		any Content on the Service, you warrant and represent the
		following:

  </li>
  <li>
    you own all rights in your
			Content or, alternatively, you have sufficient rights in your
			Content to grant to <%= t('site_name')%> the rights described in these Terms;
  </li>
  <li>
    you will pay all license fees,
			clearance fees, and other financial obligations of any kind,
			arising from any use of your Content;
  </li>
  <li>
    you are the individual pictured,
			depicted, and/or heard in your Content or you have obtained
			permission from each person (including consent from parents or
			guardians for anyone under the age of eighteen (18)) who appears
			and/or is heard in your Content to grant the rights to <%= t('site_name')%>
			described in these Terms; and
  </li>
  <li>
    your Content is not defamatory,
			does not infringe the intellectual property rights, privacy,
			rights to publicity or any other legal or moral rights of any
			third party.
  </li>
  <li>
    <strong>Establishing an Account
		to Post Content</strong>. To post Content on the Site, you must
		first complete the Site registration process to create an account
		with a user name and password (the &quot;Account&quot;). You may
		not share your password with anyone unless you are a minor, in
		which case you may share your password with your parents or other
		legal guardians. You must always provide accurate current and
		complete information to <%= t('site_name')%> for the Service. You must update
		such information in a timely manner to maintain its accuracy and
		completeness. Any use of the Service through your Account will be
		deemed as being used by you. <%= t('site_name')%> is entitled to rely on the
		contact and other information that is supplied to us through your
		Account. Your Account is non-transferable and non-assignable.
  </li>
</ul>
<p class ="bld">OWNERSHIP OF RIGHTS; LICENSE RIGHTS; USER SUBMISSIONS</p>
<ul class="" id="">
  <li>
    <strong>Ownership of Your
		Content</strong>. You retain ownership of your rights in any
		Content you post to the Service, subject to the non-exclusive
		rights that you grant to us as described in these Terms.
  </li>
  <li>
    <strong>Your License to <%= t('site_name')%>.</strong>
    Subject to your right to
			terminate your license to us as described in Section 5(C), you
			hereby grant <%= t('site_name')%> an irrevocable, perpetual, worldwide,
			royalty-free, freely transferable, freely sub-licensable (through
			unlimited levels of sublicense), non-exclusive license to use,
			reproduce, modify, transmit, distribute, publicly perform and
			display (including in each case by means of a digital audio and
			video transmission), advertise in, on, and around, and create
			derivative works of the Content you submit or make available for
			inclusion on or through the Service, and to incorporate such
			Content into other works in any form, media, or technology now
			known or later developed.
  </li>
  <li>
    You also hereby waive any moral
			rights you may have under the laws of any jurisdiction in Content
			you submit or make available on or through the Service. We may
			(but are not obligated to) display your Content, including your
			username and your actual name (according to the preferences you
			select).

  </li>
  <li>

  </li>
  <li>
    <strong>Your Right to Terminate
		the License</strong>. For Content consisting of photos, graphics,
		audio or video (but not, for clarity, any Content solely in the
		form of text) that you have submitted or made available for
		inclusion on or through the Service, you may remove or modify such
		Content from the Service at any time. Your removal of such Content
		from the Service will terminate our license to such Content. But if
		prior to such removal or modification, <%= t('site_name')%> has distributed,
		or developed specific plans to distribute, any electronic, printed,
		or other materials containing such Content (e.g., in advertising,
		promotion or otherwise), then <%= t('site_name')%> has a limited right to
		continue to distribute those materials. If you want <%= t('site_name')%> to
		stop distributing the materials, simply send us written notice to
		stop distributing such materials, in which event we will stop
		distributing the materials within 30 days. Your notice must be
		signed by you, include your telephone number and email address, and
		be sent by first class mail, postage prepaid, to <%= t('site_name')%>,
		Inc. 15801 NE 24th Street, Bellevue, WA 98008, Attn: Copyright
		Agent. In addition, the notice must clearly identify the Content at
		issue, describe the specific use of the Content you wish to end,
		and contain statements that you own or have an exclusive right to
		the Content and that all the information in the notice is true and
		correct. The 30 day period for <%= t('site_name')%> to stop distributing your
		Content begins only once <%= t('site_name')%> has received a notice complying
		with the requirements of this Section 5(C).
  </li>
  <li>
    <strong>User Contact Submissions</strong>.
		When you submit ideas, suggestions, documents, or proposals
		(collectively, &quot;Submissions&quot;) to <%= t('site_name')%> through our
    <a HREF="/contact">feedback
		page</a>, you represent, warrant, and agree that: (a) your
		Submissions do not include confidential or proprietary information;
		(b) if we so choose, <%= t('site_name')%> may use and disclose your
		Submissions in any way; and (c) <%= t('site_name')%> has no obligation to pay
		or reimburse you for your Submissions or our use of your Submissions.
  </li>
</ul>
<p class ="bld">PROHIBITED CONTENT</p>

<p>You must not post to the Service any Content that, as reasonably
	determined by <%= t('site_name')%>, is or appears to be the following:</p>
<ul>
  <li>
    untrue, misleading, harmful,
		threatening, abusive, harassing, defamatory, vulgar, obscene,
		invasive to another person's privacy or protected data, hateful, or
		racially or otherwise objectionable;
  </li>
  <li>
    infringing upon a third party's
		intellectual property rights, including any patent, trademark,
		trade secret, copyright, right of publicity, including any Content
		that is the subject of any claim of infringement;

  </li>
  <li>
    of a type that you do not have a
		right to transmit under any law or under contractual or fiduciary
		relationships, such as proprietary and confidential information;

  </li>
  <li>
    unsolicited, undisclosed or
		unauthorized advertising;

  </li>
  <li>
    software viruses or any other
		computer code, files, or programs designed to interrupt, destroy,
		or limit the functionality of any computer software or hardware or
		telecommunications equipment;
  </li>
  <li>
    data or information obtained
		through access that was not authorized by the owner, or that you
		are not authorized to post; or

  </li>
  <li>
    in violation of any applicable
		local, state, national or international law (including export
		laws).
  </li>
</ul>

<p class ="bld">PROHIBITED CONDUCT; LIQUIDATED DAMAGES FOR SPAM.</p>
<p ><strong>Prohibited Conduct</strong>.
		You must not do, or attempt to do, any of the following, as
		reasonably determined by <%= t('site_name')%>, subject to applicable law:
</p>
<ul>
  <li>
    access or use the Service in any
			way that is not in compliance with any applicable local, state,
			national or international law (including export laws), contracts,
			intellectual property rights or constitutes the commission of a
			tort, or for any purpose that is harmful or unintended (by us), or
			other than in full compliance with these Terms;
  </li>
  <li>
    access, tamper with, or use
			services or areas of the Service that you are not authorized to
			access;
  </li>
  <li>
    alter information on or obtained
			from the Service;

  </li>
  <li>
    tamper with postings,
			registration information, profiles, submissions or Content
			belonging to <%= t('site_name')%> or other users of <%= t('site_name')%>;

  </li>
  <li>
    use any robot, spider, scraper
			or other automated means or interface not provided by us to access
			the Service or extract data or gather or use information, such as
			email addresses, available from the Service or transmit any
			unsolicited advertising, &quot;junk mail,&quot; &quot;spam,&quot;
			or &quot;chain letters&quot;;

  </li>
  <li>
    frame any part of the Service,
			or link to the Service, or otherwise make it look like you have a
			relationship to us or that we have endorsed you or your Content
			for any purpose except as expressly permitted in writing by
    <%= t('site_name')%>;

  </li>
  <li>
    impersonate or misrepresent your
			affiliation with any person or entity;

  </li>
  <li>
    reverse engineer any licensed
			software, application, games or any other aspect of the Service or
			do anything that might discover source code, or bypass or
			circumvent measures employed to prevent or limit access to any
			area, content or code of the Service;

  </li>
  <li>
    send to or otherwise impact us
			or the Service (or anything or anyone else) with harmful, illegal,
			deceptive or disruptive code such as a virus, &quot;spyware,&quot;
    &quot;adware&quot; or other code that could adversely impact the
			Service or any recipient; or

  </li>
  <li>
    take any action which might
			impose a significant burden (as determined by us) on the Service's
			infrastructure or computer systems, or otherwise interfere with
			the ordinary operation of the Service.

  </li>
  <li>
    <strong>Liquidated Damages</strong>.
		IF YOU SEND UNSOLICITED COMMERCIAL EMAIL OR ADVERTISING, BULK
		EMAIL, SPAM, OR CHAIN LETTERS (COLLECTIVELY, &quot;UNSOLICITED
		EMAIL OR OTHER COMMUNICATION&quot;) THROUGH THE SERVICE, YOU
		ACKNOWLEDGE THAT YOU WILL HAVE CAUSED SUBSTANTIAL HARM TO
    <%= t('site_name').upcase %>, BUT THAT THE AMOUNT OF THE HARM WOULD BE EXTREMELY
		DIFFICULT TO ASCERTAIN. AS A REASONABLE ESTIMATION OF SUCH HARM,
		YOU WILL PAY LICENSOR $40 FOR EACH SUCH UNSOLICITED EMAIL OR OTHER
		COMMUNICATION.

  </li>
</ul>
<p class ="bld">MONITORING OF SERVICE CONTENT; RESOLUTION OF USER DISPUTES</p>
<ul class="" id="">
  <li>
    <strong>No Duty to Monitor</strong>.
		We are under no obligation to restrict or monitor the Service or
		any Content in any way. <%= t('site_name').upcase %> DOES NOT REGULARLY MONITOR THE
		ACCURACY OR RELIABILITY OF CONTENT. However, we reserve the right
		to modify or remove any Content at any time. Any opinions, advice,
		statements, services, offers, or other information or Content
		expressed or made available by third parties, including other
		users, are those of the respective author(s) and not of <%= t('site_name')%>.
    <%= t('site_name')%> neither endorses nor is responsible for the accuracy or
		reliability of any opinion, advice, information, or statement made
		on the Service.
  </li>
  <li>
    <strong>Right to Resolve
		Disputes</strong>. <%= t('site_name')%> has the right, but not the obligation
		to resolve disputes between users relating to the Service and
    <%= t('site_name')%>'s resolution of a particular dispute does not create an
		obligation to resolve any other dispute. <%= t('site_name')%>'s resolution of
		any dispute is final with respect to the Service.

  </li>
</ul>

<p class ="bld">PROTECTION OF CONTENT.</p>
<ul class="" id="">
  <li>
    <strong>License by <%= t('site_name')%> to
		You</strong>. You must respect the intellectual property laws
		protecting our Service. <%= t('site_name')%> grants you a limited, revocable,
		non-transferable, non-sublicensable, non-exclusive license, under
		the rights <%= t('site_name')%> has in the Content, to privately display and
		perform the Content on your computer for your own personal,
		noncommercial purposes.

  </li>
  <li>
    <strong>Reservation of Rights</strong>.
		On its own behalf and the behalf of its licensors, <%= t('site_name')%>
		reserves all rights in the Content, including any software, not
		expressly granted in this Section 9. <%= t('site_name')%> does not in any way
		grant any other rights to you. Except as expressly stated in this
		Section 9, you may not reproduce, distribute, modify, publicly
		perform or display, or prepare derivative works of any Content,
		including any software, without prior written consent from
    <%= t('site_name')%> or other third-party owner of the rights in that Content
		(if any).
  </li>
</ul>

<p class ="bld">PRIVACY POLICY.</p>
<ul class="" id="">
  <li>
    Please see our <a HREF="/privacy">Privacy
	Policy</a>. Our Privacy Policy is part of and incorporated into
	these Terms. We reserve the right to contact you about these Terms
	or any Content or activities relating to the Service.
  </li>
</ul>
<p class ="bld">TERMINATION OR CANCELLATION.</p>
<ul class="" id="">
  <li>
    <strong>Right to Terminate</strong>.
		We may, at any time, without notice to you, terminate your access
		to the Service, and your Account, or block your access to the
		Service if:

  </li>
  <li>
    we believe in our sole
			discretion that you may have violated these Terms or have
			otherwise engaged in any activities that may harm or damage the
			reputation, rights, person, or property of <%= t('site_name')%>, our users,
			or any other person;

  </li>
  <li>
    requested by law enforcement or
			other government agencies; or

  </li>
  <li>
    your Account has extended
			periods of inactivity.

  </li>
  <li>
    <strong>Notice of Termination</strong>.
		If applicable law requires us to provide notice of termination or
		cancellation, we may give prior or subsequent notice by posting it
		on the Site or by sending a communication to any address (email or
		otherwise) that we have for you in our records.

  </li>
  <li>
    <strong>Effect of Termination</strong>.
		Upon termination of your Account or the Service, your agreement
		with <%= t('site_name')%> pursuant to these Terms will also terminate, except
		that the following provisions survive the termination: 
    &quot;Posting Content on the Service; Representations and
		Warranties,&quot;  &quot;Ownership of Rights; License
		Rights; User Submissions,&quot;  &quot;Protection of
		Content,&quot;  &quot;Indemnification,&quot; 
    &quot;Disclaimer of Warranties,&quot;  &quot;Exclusion of
		Damages; Limitation of Liability,&quot; and  &quot;Additional
		Terms&quot; and the Privacy Policy. If your Account or access to
		the Service is terminated, you may no longer have access to the
		Content you posted on the Service.
  </li>
</ul>
<p class ="bld">DEALINGS WITH MERCHANTS; LINKS</p>
<ul class="" id="">
  <li>
    <strong>Advertisements and Links</strong>.
		The Service contains advertisements, offers, or other links to
		websites of third parties that we do not control. Advertisements
		and other information provided by third parties may not be wholly
		accurate. <%= t('site_name')%> is not responsible or liable for (i) the
		availability or accuracy of such sites or advertisements; or (ii)
		the content, products or services available from such sites. The
		inclusion of any link on the Service does not imply that we endorse
		the linked site. You use the links at your own risk. <%= t('site_name')%>
		Privacy Policy is applicable only when you are on our Site. Once
		you link to another website, its privacy statement applies to any
		personal information you supply.
  </li>
  <li>
    <strong>Transactions with Third
		Parties</strong>. Your transactions and other dealings with third
		party merchants or advertisers that are found on or through the
		Service, including &quot;click to purchase,&quot;
    &quot;co-registration,&quot; and other similar programs, including
		payment and delivery of related goods or services, are solely
		between you and such merchant or advertiser.

  </li>
</ul>
<p class ="bld">INDEMNIFICATION.</p>
<p>You agree to hold <%= t('site_name')%> and <%= t('site_name')%>, and their
	subsidiaries, affiliates (for example, those listed at
	www.<%= t 'site_name'%> .com), officers, directors, employees, agents,
	attorneys, and suppliers, and each of their respective successors
	and assigns (collectively, the &quot;Indemnified Persons&quot;),
	harmless from, and indemnify them for, all damages, costs, expenses
	and other liabilities, including reasonable attorneys' fees and
	expenses, relating to any claim arising out of or related to: (i)
	your access to and use of the games, software, and other aspects of
	the Service and the Content; (ii) your violation of these Terms, and
	any applicable law or the rights of another person or party; (iii)
	any dispute you have with any user of the Service and any dispute
	you have related to any merchant or advertising found on or through
	the Service; (iv) <%= t('site_name')%>'s resolution (if any) of any dispute you
	have with any user of the Service; (v) your improper authorization
	for <%= t('site_name')%> to collect, use or disclose any Content provided by
	you; and (vi) any disclosures made with your permission.</p>
<p class ="bld">DISCLAIMER OF WARRANTIES</p>
<p><%= t('site_name').upcase %> PROVIDES THE SERVICE &quot;AS IS&quot; AND &quot;AS
	AVAILABLE&quot;. TO THE MAXIMUM EXTENT PERMITTED BY LAW, <%= t('site_name').upcase %>
	MAKES NO REPRESENTATIONS, WARRANTIES OR CONDITIONS OF ANY KIND,
	EXPRESS OR IMPLIED, AS TO THE OPERATION OF THE SERVICE OR THE
	INFORMATION, GAMES, SOFTWARE, OR CONTENT INCLUDED IN THE SERVICE.
  <%= t('site_name').upcase %> MAKES NO REPRESENTATIONS OR WARRANTIES THAT THE SERVICE
	WILL BE UNINTERRUPTED, ERROR-FREE, VIRUS-FREE, SECURE, OR TIMELY. TO
	THE MAXIMUM EXTENT PERMITTED BY LAW, <%= t('site_name').upcase %> EXPRESSLY DISCLAIMS
	ALL REPRESENTATIONS, WARRANTIES OR CONDITIONS OF ANY KIND, WHETHER
	EXPRESS OR IMPLIED, INCLUDING THE IMPLIED REPRESENTATIONS,
	WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A
	PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT AND THOSE ARISING FROM A
	COURSE OF DEALING, TRADE, USAGE OR PERFORMANCE. SOME JURISDICTIONS
	DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES, AND THEREFORE SOME
	OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU. WE URGE YOU TO KEEP
	BACKUP COPIES OF YOUR PERSONAL CONTENT, IF ANY, THAT YOU MAINTAIN ON
	OR USE WITH THE SERVICE. IF YOUR USE OF THE SERVICE RESULTS IN THE
	NEED FOR SERVICING OR REPLACING PROPERTY, MATERIAL, EQUIPMENT OR
	DATA, WE ARE NOT RESPONSIBLE FOR ANY RESULTING COSTS OR DAMAGES.</p>
<p class ="bld">EXCLUSION OF DAMAGES;</p>
<p class ="bld">LIMITATION OF LIABILITY. TO THE MAXIMUM EXTENT PERMITTED BY LAW,
	NONE OF THE INDEMNIFIED PERSONS ARE LIABLE TO YOU OR ANY OTHER
	PERSON FOR INDIRECT, INCIDENTAL, PUNITIVE, EXEMPLARY, SPECIAL,
	STATUTORY, OR CONSEQUENTIAL DAMAGES, LOST PROFITS, LOST REVENUE,
	LOSS OF DATA, LOSS OF PRIVACY, LOSS OF GOODWILL OR ANY OTHER LOSSES,
	EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND EVEN IN THE
	EVENT OF FAULT, TORT (INCLUDING NEGLIGENCE) OR STRICT OR PRODUCT
	LIABILITY. WITHOUT LIMITING THE FOREGOING, IN NO EVENT WILL THE
	AGGREGATE LIABILITY TO YOU OF THE INDEMNIFIED PERSONS EXCEED, IN
	TOTAL, THE AMOUNTS PAID BY YOU TO US.</p>
<p class ="bld">COPYRIGHT INFRINGEMENT.</p>
<p><%= t('site_name')%> respects the intellectual property rights of others and
	requests that users of the Service do the same. If you believe that
	your work is being used on the Service in a way that constitutes
	copyright infringement, you may notify us by providing our copyright
	agent with the following information in writing:</p>
<ul class="" id="">
  <li>
    the electronic or physical
		signature of the owner of the copyright or the person authorized to
		act on the owner's behalf;
  </li>
  <li>
    identification of the copyrighted
		work that you claim has been infringed;

  </li>
  <li>
    identification of the material
		that is claimed to be infringing and information reasonably
		sufficient to permit <%= t('site_name')%> to locate the material (for example,
		by providing a URL to the material);
  </li>
  <li>
    your name, address, telephone
		number, and email address;
  </li>
  <li>
    a statement by you that you have
		a good faith belief that the disputed use is not authorized by the
		copyright owner, its agent, or the law; and
  </li>
  <li>
    a statement that the information in your notification is
		accurate and a statement, made under penalty of perjury, that you
		are the copyright owner or are authorized to act on the copyright
		owner's behalf.
  </li>
</ul>
<p>Our designated agent to receive notification of claimed
		infringement can be reached at:</p>
<p>
  Copyright Agent
  66 Six Street,
  Six City, CA - 66666
  (666) - 666- 6666 (fax)
</p>

<p><a HREF="mailto:copyright@voteable.com">copyright@voteable.com</a>.</p>

<p>It is our policy to terminate in appropriate circumstances any
		Account or user for repeated infringement of intellectual property
		rights, including copyrights, and we also reserve the right to
		terminate an Account or user for even one instance of infringement.</p>

<p><%= t('site_name')%> may access, preserve and disclose to third parties any
		of your information or data (including personally identifiable
		information and private communications) related to a written
		complaint of copyright infringement if we believe in our sole
		discretion that such access, preservation, or disclosure is
		necessary or useful to respond or otherwise address such complaint.</p>
<p class ="bld">CUSTOMER SUPPORT.</p>
<p>We have no obligation to provide you with customer support of
		any kind. However, we may provide you with customer support from
		time to time, at our sole discretion, if you have created an
		Account and you submit your customer support questions using your
		Account.</p>
<p class ="bld">NOTICES AND CONTACT INFORMATION.</p>

<p>Except as otherwise provided in these Terms, <%= t('site_name')%> will give
	you any notices by posting them on the Site. Since notice of any
	material change to the Terms will be posted to the Site for at least
	30 days, we encourage you to visit the Site at least that often. You
	also authorize <%= t('site_name')%> to send notices (including notice of
	subpoenas or other legal process, if any) via electronic mail to the
	email address that we have on record for you. You must check the
	Site for notices, and you will be considered to have received a
	notice when it is made available to you by posting on the Site or
	when sent by <%= t('site_name')%> via electronic mail, whether or not received
	by you. <%= t('site_name')%> may provide notice to any email or other address
	that you provide to us. You must keep your address current and any
	notice sent by <%= t('site_name')%> to the address that you have most recently
	provided is effective notice. With the exception of notices related
	to removal of licensed material and to copyright infringement as
	described in Sections 5 and 16 above, respectively, you must send us
	any notice by mailing it to our address for Legal Notices which is:
  <%= t('site_name')%>, Inc., 66 Six Street, Six City, CA - 666666, Attn: Legal Department.</p>
<p class ="bld">ADDITIONAL TERMS</p>
<ul class="" id="">
  <li>
    <strong>Agreement to Conduct
		Transactions Electronically</strong>. All of your transactions with
		or through the Service may, at our option, be conducted
		electronically from start to finish. If we decide to proceed
		non-electronically, those services will still be governed by the
		remainder of these Terms unless you enter into different terms on a
		form provided by us. If the law allows you to withdraw this consent
		or if we are ever required to deal with you non-electronically, we
		reserve the right to charge or increase fees and you agree to print
		or make an electronic copy of the Terms and any other contract or
		disclosure that we are required to provide to you.
  </li>
  <li>
    <strong>Compliance with Laws</strong>.
		You are responsible for compliance with applicable local laws.
		Access to the Service Content by certain persons or in certain
		countries may not be legal.
  </li>
  <li>
    <strong>No Agency; No Third Party
		Beneficiary</strong>. These Terms do not create any agency,
		partnership, joint venture, employee-employer or
		franchisor-franchisee relationship. Except for the Indemnified
		Persons, there are no third party beneficiaries of these Terms.
  </li>
  <li>
    <strong>Severance</strong>. If
		any part of the Terms is held by a court of competent jurisdiction
		to be invalid or unenforceable, the invalid or unenforceable part
		will be given effect to the greatest extent possible and the
		remainder will remain in full effect, provided that the allocation
		of risks described in these Terms is given effect to the fullest
		extent possible.
  </li>
  <li>
    <strong>Assignment</strong>.
		These Terms are personal to you and you may not transfer, assign or
		delegate them to anyone without the express written permission of
    <%= t('site_name')%>. Any attempt by you to assign, transfer or delegate these
		Terms without the express written permission of <%= t('site_name')%> will be
		null and void. <%= t('site_name')%> has the right to transfer, assign and
		delegate these Terms to one or more third parties without your
		permission.
  </li>
  <li>
    <strong>Jurisdiction; Choice of
		Law; Export Limitations</strong>. This Service is controlled by us
		from our offices in the United States of America and is directed to
		U.S. users. If you access the Service from locations outside the
		U.S., you do so at your own risk and you are responsible for
		compliance with applicable local laws. You may not use or export
		anything from the Service in violation of U.S. export laws and
		regulations or the Terms. These Terms and all performances and
		claims of every nature between us are governed by the laws of the
		State of California, U.S.A., without regard to any conflicts of
		laws principles that would result in the application of the law of
		a different jurisdiction. You and <%= t('site_name')%> submit to the exclusive
		personal jurisdiction and venue of the state and federal courts
		located within Los Angeles County, Washington.
  </li>
  <li>
    <strong>Limitations on Actions</strong>.
		Any action concerning any dispute with respect to the Service must
		be commenced within one year after the cause of the dispute arises,
		or the cause of action is barred.
  </li>
  <li>
    <strong>Interpretation</strong>.
		The paragraph headings in these Terms are included to help make
		these Terms easier to read and have no binding effect. As used in
		these Terms, the words &quot;include&quot; and &quot;including&quot;
		are meant to be illustrative and not exhaustive.
  </li>
  <li>
    <strong>Entire Agreement</strong>.
		These Terms (including terms incorporated into them, e.g., the
		Privacy Policy and Supplemental Terms) and any policies and
		guidelines posted to the Service by <%= t('site_name')%> comprise the entire
		agreement (the &quot;Entire Agreement&quot;) between you and
    <%= t('site_name')%> with respect to the use of the Service and supersede all
		contemporaneous and prior agreements between the parties regarding
		the subject matter contained herein, and neither party has relied
		on any representations made by the other that are not expressly set
		forth in the Entire Agreement.
  </li>
  <li>
    <strong>No Waiver</strong>. The
		failure of any party to exercise or enforce any right or provision
		of these Terms, including any failure to act with respect to a
		breach, will not constitute a waiver of such right or provision or
		that party's right to act with respect to subsequent or similar
		breaches. We suggest that you print out a copy of these Terms for
		your records.
  </li>
</ul>
<p class ="bld">Further Information</p>
<p>If you have a complaint, you may contact us at <%= t('site_name')%> Legal
	Department, 66 Six Street, Six City, CA - 666666. If you
	are a California resident, the Complaint Assistance Unit of the
	Division of Consumer Services of the Dept. of Consumer Affairs may
	be contacted at 400 R Street, Sacramento, CA 95814 or (800)
	952-5210.</p>
<p class ="bld">LEGAL NOTICES.</p>
<ul class="" id="">
  <li>
    <strong>NOTICE OF AVAILABILITY OF FILTERING SOFTWARE</strong>
    </p>
    <p>All users are hereby informed by the provider of this
		interactive computer service that parental control protections
		(such as computer hardware, software, or filtering services) are
		commercially available that may assist in limiting access to
		material that is harmful to minors. A report detailing some of
		those protections can be found at <A HREF="http://www.fcc.gov/cgb/consumerfacts/cipa.html">Children's
		Internet Protection Act: Report on the Effectiveness of Internet
		Protection Measures and Safety Policies</A>
    </p>
  </li>
  <li>
    <strong>NOTICE: NO HARVESTING OR DICTIONARY ATTACKS ALLOWED</strong>
    <p>YOU MAY VIOLATE FEDERAL LAW IF YOU: (1) INITIATE THE
		TRANSMISSION TO <%= t('site_name').upcase %> COMPUTERS OR DEVICES OF A COMMERCIAL
		ELECTRONIC MAIL MESSAGE (AS DEFINED IN THE U.S. &quot;CAN-SPAM ACT
		OF 2003&quot;) THAT DOES NOT MEET THE MESSAGE TRANSMISSION
		REQUIREMENTS OF THAT ACT; OR (2) ASSIST IN THE ORIGINATION OF SUCH
		MESSAGES THROUGH THE PROVISION OR SELECTION OF ADDRESSES TO WHICH
		THE MESSAGES WILL BE TRANSMITTED.</p>
  </li>
  <li>
    <strong>NOTICE RE TRADEMARKS</strong>
    <p>The trademarks <%= t('site_name')%>, , <%= t('site_name')%> and all other
		trademarks listed below or used in the Service are owned or used
		under license by <%= t('site_name')%> and its affiliated organizations. The
		names of third parties and their products mentioned may be their
		trademarks. You may not use any of the above or other trademarks
		displayed on the Service or in any Service content. All rights are
		reserved.</p>

  </li>
</ul>
