<div class="prepend-top span-18 last">
  <ul>
    <li><%= link_to "Your profile", current_user %></li>
    <li><%= link_to "Your Votes", user_vote_topics_path(current_user) %></li>
    <li> <%= rpx_popup( :link_text => "Add RPX authentication for this account", :app_name => Constants::RPX_APP_NAME,
        :return_url => addrpxauth_url, :add_rpx => true, :unobtrusive => false ) %></li>
  </ul>
  <% if current_role == 'admin' %>
    <div class="span-18 last">
      <p>
        Vote Topics waiting for approval

        <% VoteTopic.status_equals('w').all.each do |v| %>
        <ul>
          <li><%= link_to 'Approve', approve_vote_vote_topic_path(v), :method => :post %></li>
          <li><%= v.topic %></li>
          <li><%= v.header %></li>
          <ul>
            <% v.vote_items.each do |vi| %>
              <li><%= vi.option %></li>
            <% end  %>
          </ul>
        </ul>
      <% end  %>
      </p>
    </div>
  <% end  %>
</div>