<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function(){
    $('#login_submit').click(function(){
      $('#new_user_session').submit();
      return false;
    });
  });
  //]]>
</script>
<div id ="login_container" class="span-24 last">
  <div class="span-12">
    <div class="normal-pad ">
      <h4 class="ui-widget-header normal-pad">Login</h4>
      <% semantic_form_for @user_session, :url => user_sessions_path do |f| %>
        <%= f.semantic_errors %>
      <li style="margin-bottom: 1em;list-style-type: none"></li>
        <% f.inputs do  %>
          <%= f.input :username, :input_html => {:style => "width:40%"} %>
          <%= f.input :password, :as => :password, :input_html => {:style => "width:40%"} %>
          <% if @user_session.being_brute_force_protected? %>
            <li class="bld">Please enter the text as it appears in the image.</li>
            <li><%= recaptcha_tags :display => {:theme => 'clean'} %></li>
          <% end  %>
          <li><%= link_to "Forgot password?", new_password_reset_path  %></li>
          <%= f.input :remember_me, :as => :boolean, :label => "Remember me" %>
        <% end  %>
        <span class="regular-button" id="login_submit">Login</span>
        <span><%= link_to "Dont have an account? Please register", sign_up_path %></span>
      <% end %>
    </div>
  </div>
  <div class="span-12 last">
    <div class=" normal-pad">
      <%= render :partial => '/shared/rpx' %>
    </div>
  </div>
</div>

