<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function(){
    $('#login_submit').click(function(){
      $('#new_user_session').submit();
      return false;
    });
  });
  //]]>
</script>
<h1>Login</h1>

<% semantic_form_for @user_session, :url => user_session_path do |f| %>
  <%= f.semantic_errors %>
  <% f.inputs do  %>
    <%= f.input :username, :input_html => {:style => "width:40%"} %>
    <%= f.input :password, :as => :password, :input_html => {:style => "width:40%"} %>
    <%= f.input :remember_me, :as => :boolean, :label => "Remember me" %>
  <% end  %>
  <%= color_link_with_icon("login_submit", "#", "ui-icon-key", "Login") %>
<div class="prepend-top">
  <%= link_to "Forgot password?", new_password_reset_path  %>
</div>
<% end %>