<div class="main-header" id="">
  <div class="header" >
    <div class ="header_links_div top-mar">
      <div class=".logo-holder">
        <%= link_to "", root_path, :class => "go-left logo-image sprite"%>
      </div>
      <div class="main-links-holder">
        <div class="main_links_div ">
          <%= render_navigation :level => 1 %>
        </div>
        <% if current_user %>
          <div class="new-holder" id="">
            <%= new_button controller %>
          </div>
        <% end  %>
        <div class="div-search-form"
        <% form_tag searches_path, :method => :get, :class => '', :id => "search_form" do %>
          <%= text_field_tag :q, cookies[:voteable_q].nil? ? "Search" : cookies[:voteable_q],  :class => 'search-term' %>
               <a href="#" id="search-button" class="search-button">&nbsp;</a>
               <% end  %>
        </div>
      </div>
      <%= render :partial => "/shared/cat_nav_list" %>
      <%= render :partial => "/shared/city_nav_list" %>


      <% unless  current_user %>
        <ul class="header_links">
          <li><%= link_to "sign up", sign_up_path, :id => 'main_sign_up_link', :class=> 'special-text'%></li>
          <li><%= link_to "login", login_path, :id => 'main_login_link' %></li>
        </ul>
      <% else %>
        <div class="header_links" id="">
          <div id="profile_link" class="go-right left-mar">
            <%= current_user.username %>
            <span class="sprite white-down"></span>
          </div>
          <div class="go-right">
            <%= get_user_avatar current_user %>
          </div>
        </div>
        <div class="user-links inv" >
          <ul class="list_no_pad_no_style">
            <li><%= link_to "my profile", current_user, :id => 'main_profile_link' %>
            </li>
            <li><%= link_to "logout", logout_path  %></li>
          </ul>
        </div>
      <% end %>

    </div>

    <!-- <sup>&trade;</sup> -->

  </div>
</div>