<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <%= render :partial => '/layouts/scripts' %>
  <body>
    <div class="container" id="main_container" >
            <%= render :partial => "/layouts/header" %>


      <div class ="span-24 last content_container prepend-top">
        <div class="span-24 last">
          <%= yield :page_headers %>
        </div>

        <div class="content span-18" id="content">

          <!--<div class="span-18 last" id="flash_messages"> -->
          <%= render :partial => 'layouts/flash_msg' %>
          <!--</div>-->
          <%= yield %>
        </div> <!-- end content div -->

        <div class="right_nav span-6 last">

          <%= yield :right_nav %>
        </div>
      </div> <!-- end content_container -->
    </div>
    <%= render :partial => "/shared/intro_prezo" %>
    <%= render :partial => '/shared/vote_overlay' %>
    <%= render :partial => '/shared/flash_overlay' %>
    <%= render :partial => "/layouts/footer" %>
  </body>
</html>
