<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function(){

    $("input#vote_topic_header").blur(function(){
      value = $("input#vote_topic_header").val()
      if (value != "") {
        $.get("<%= url_for(:controller => :vote_topics, :action => :auto_comp) %>", {term : value}, function(){});
      }
    });

    $('#vote_submit').button({icons:{primary:'ui-icon-circle-check'}}).click(function(){
      $('#new_vote_topic').submit();
      $('form.vote_topic').submit();
      return false;
    });
  });
  //]]>
</script>
<% semantic_form_for @vote_topic do |form| %>
  <%= form.semantic_errors %>
  <% form.inputs do %>
    <li class="bld">Fields marked with (*) are required.</li>
    <%= form.input :user_id, :as => :hidden %>
    <%= form.input :header, :label => "Topic", :input_html => {:style => "width:60%"}, :hint => "#{t 'vote_topic.new.header_hint'}.
    Within #{Constants::MAX_VOTE_HEADER_LENGTH} characters"%>
    <li>
      <div id="suggestions" class="suggestions" style="display:none">
      </div>
    </li>
    <li class="bld">Add up to 5 options(Minimum 2) for your voters to vote on.</li>
    <% if !form.object.errors.on(:vote_items).nil? && form.object.errors.on(:vote_items).length > 0 %>
      <div class="error"><%= form.object.errors.on(:vote_items) %></div>
    <% end %>
    <div id ="vote_items">
      <% form.semantic_fields_for :vote_items do |f| %>
        <%= f.semantic_errors %>
        <div class="vote_item">
          <%= f.input :option, :input_html => {:style => "width:60%" }, :hint => "Option to vote on." %>
        </div>
      <% end  %>
    </div>
    <%= form.input :category, :as => :select, :input_html => {:style => "width:60%" }, :hint => "Please categorize the vote." %>
    <%= form.input :topic, :label => "Details", :as => :text, :input_html => {:style => "width:60%;height:80px" }, :hint =>
      "#{t 'vote_topic.new.topic_hint'}. Within #{Constants::MAX_VOTE_TOPIC_LENGTH} characters" %>
    <% if current_user.voting_power > Constants::MIN_VOTE_FOR_FEATURED %>
      <%= form.input :power_offered,:as => :select, :collection => (1..current_user.voting_power).select{|x| x % Constants::VOTING_POWER_OFFER_INCREMENT == 0 },
        :hint =>""  %>
      <li class="form-hint">
        You can offer some of your voting power to put your vote on the featured votes list.
        You currently have <span class='vote-power bld'><%= current_user.voting_power %></span> voting  power.
        <a href="/faq#voting_power" target ="_blank" id="vp_faq_link">
          More about Voting Power in FAQ.</a>.
      </li>
    <% end  %>
    <%= form.input :website, :label => "Link", :input_html => {:style => "width:60%"}, :hint => "A relevant link about the topic i.e. News headline, Article etc." %>
    <%= form.input :friend_emails, :as => :text, :input_html => {:style => "width:60%;height:80px" } %>
    <li class="form-hint">
      <%=  "#{t 'vote_topic.new.email_hints'}" %>
    </li>
  <% end  %>
  <a href="#" id="vote_submit">Save</a>
<% end  %>