<script type="text/javascript">
  //<![CDATA[
  $j(document).ready(function(){
    $j("#vote_confirm_link").button({icons:{primary:'ui-icon-circle-check'}}).click(function() {
      //$('#confirm_vote_form').trigger("submit");
      $j('#confirm_vote_form').submit();
    });
    $j('#vote_edit_link').button({icons:{primary:'ui-icon-bookmark'}});
  });
    
  //]]>
</script>
<div class="bld">
  Please preview your vote and click Confirm if you are satisfied. <em>The vote can not be changed once it has been confirmed and active</em>.
</div>
<% form_tag confirm_vote_vote_topic_path(@vote_topic, :user_id => @user.id), :id => "confirm_vote_form" do |f| %>
<div class=" span-18 last">
  <div class=" ui-state-default ui-corner-all prepend-top normal-pad right-mar append-bottom">
    <h4 class="ui-widget-header normal-pad">Preview Vote</h4>
    
      <span class="clearfix big bld bottom-mar topic-header">&quot;<%= @vote_topic.header %>&quot;</span>
      <span class="top-mar clearfix" style="font-weight: normal"><%= @vote_topic.topic %></span>
      <span class="small">
        <% if !@vote_topic.anon %>
          <%#= "By #{link_to @vote_topic.user.username, @vote_topic.user} on #{@vote_topic.created_at.strftime('%b %d %Y')}" %>
          <%= "By #{link_to @vote_topic.poster.username, @vote_topic.poster} on #{@vote_topic.created_at.strftime('%b %d %Y')}" %>
        <% else %>
          <%= "By Anonymous on #{@vote_topic.created_at.strftime('%b %d %Y')}" %>
        <% end  %>
      </span>
    </div>
    <div id="div_process_vote">
      <ul class="list_no_pad_no_style top-mar">
        <% @vote_topic.vote_items.each do |v| %>
          <li class="ui-widget-content">
            <span class="ui-icon ui-icon-document list-icon"></span><%= v.option %>
          </li>
        <% end %>
        <li>
          <span class=small-button style="margin-right:2em"><button id ="vote_confirm_link">Confirm</button></span>
          <span class=small-button><%= link_to "Edit", edit_user_posted_vote_topic_path(@user, @vote_topic), :id => 'vote_edit_link' %></span>
        </li>
      </ul>
    </div>
  </div>
<% end  %>
