<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function(){
    $("#vote_confirm_link").button({icons:{primary:'ui-icon-circle-check'}}).click(function() {
      $('#confirm_vote_form').submit();
    });
    $('#vote_edit_link').button({icons:{primary:'ui-icon-bookmark'}});
    $('#track_link').tooltip({
      relative : true
    });
    $('#track_link').click(function() {
      return false;
    })
  });
    
  //]]>
</script>
<div class="span-18 last" id="">
  <h4 class="normal-pad ui-widget-header">Preview Vote</h4>
  <div class="normal-pad prepend-top append-bottom ui-widget-content">
    Please preview your vote and click Confirm if you are satisfied.
    <p>
      You can edit the vote from your profile page.
      <em class="clearfix special-text bld">However, Votes can not be changed once the voting has started.</em>.
    </p>
  </div>
</div>

<% form_tag confirm_vote_vote_topic_path(@vote_topic.id, :user_id => @user.id), :id => "confirm_vote_form" do |f| %>
  <!-- from here -->
  <div class=" span-18 last">
    <div class="ui-widget-vote-preview  normal-pad ">
      <div>
        <blockquote class="preview">
          <span class="big"><%=  @vote_topic.header%></span>
        </blockquote>
        <p class="left-mar">
          <%= @vote_topic.topic %>
        </p>
        <%= render :partial => "vote_options" %>
      </div>
      <div>
        <%= render :partial => 'vote_info', :locals => {:vt => @vote_topic} %>
      </div>
    </div>
  </div>

  <!-- to here -->


  <div class="span-18 last prepend-top append-bottom" id="">
    <span class=small-button style="margin-right:2em"><button id ="vote_confirm_link">Confirm</button></span>
    <span class=small-button><%= link_to "Edit", scoped_edit_vote_topic_path(@vote_topic.category, @vote_topic), :id => 'vote_edit_link' %></span>
  </div>
<% end  %>
