<script type="text/javascript">
  //<![CDATA[
  $j(document).ready(function(){
    $j("#vote_confirm_link").click(function() {
      //$('#confirm_vote_form').trigger("submit");
      $j('#confirm_vote_form').submit();
    });
  });
    
  //]]>
</script>


<div class="span-17 last">
  <h2>Preview Vote</h2>
  <% form_tag confirm_vote_vote_topic_path(@vote_topic, :user_id => current_user.id), :id => "confirm_vote_form" do |f| %>
    <h2><%= @vote_topic.header %></h2>
    <h4><%= @vote_topic.topic %></h4>
    <% if !@vote_topic.anon %>
      <h5><%= "Posted by #{link_to @vote_topic.user.username, @vote_topic.user} on #{@vote_topic.created_at.strftime('%b %d %Y')}" %></h5>
    <% else %>
      <h5><%= "Posted by Anonymous on #{@vote_topic.created_at.strftime('%b %d %Y')}" %></h5>
    <% end  %>
    <ul>
      <% @vote_items.each do |v| %>
        <li>
          <%= v.option %>
        </li>
      <% end  %>
    </ul>
    <%= color_link_with_icon("vote_confirm_link", "#", "ui-icon-circle-check", "Confirm") %>
  <% end  %>
</div>