<% if all %>
  <div class="simpleSlide-slide" rel="ss" style="height: 338px; width: 600px;">
    <%= @p_flash_graph %>
  </div>
  <div class="simpleSlide-slide" rel="ss" style="height: 450px; width: 600px;">
    <%= @g_flash_graph %>
  </div>
  <div class="simpleSlide-slide" rel="ss" style="height: 450px; width: 600px;">
    <%= @a_flash_graph %>
  </div>
<% else %>

  <div class="simpleSlide-slide" rel="ss" style="height: 450px; width: 600px;">
    <%= @g_flash_graph %>
  </div>
  <div class="simpleSlide-slide" rel="ss" style="height: 450px; width: 600px;">
    <%= @a_flash_graph %>
  </div>
<% end  %>
