<%= javascript_include_tag  'jquery.simpleSlide_min.js'  %>
<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function() {
    //Load the remaining pictures
    $.ajax({
      url:"<%= breakdown_vote_topic_url(@vote_topic)%>",
      data: {bd_type: "other", id: "<%= @vote_topic.id %>"},
      success:function(){hideLoading('#pic_loading_g');},
      beforeSend:function(xhr) {showLoading('#pic_loading_g');},
      dataType: "script"
    });
    
    /** $(window).scroll(function(){
      if  ($(window).scrollTop() == $(document).height() - $(window).height()){
        //lastPostFunc();
        alert('at bottom');
      }
    });**/
    simpleSlide({
      'set_speed': 300,
      'status_width': 20,
      'status_color_outside': '<%= Constants::SLIDE_SHOW_PROG_OUTSIDE_COL %>' ,
      'status_color_inside': '<%= Constants::SLIDE_SHOW_PROG_INSIDE_COL %>',
      'callback': function() {
        /* function code */
      }
    });
    $('.slideshow').live('mouseover mouseout', function(event) {
      if(event.type == 'mouseover'){
        $(this).children('.left-button, .right-button').stop(true, true).fadeIn();
      }
      else {
        $(this).children('.left-button, .right-button').stop(true, true).fadeOut();
      }
    });

    $('#vote_link').live('click',function() {
      $('#vote_form').submit();
      return false;
    });

    $('#cancel_vote_link').live('click', function() {
      $('#cancel_vote_form').submit();
      return false;
    });

    $('#comment_submit').click(function() {
      $('#new_comment').submit();
      return false;
    });
    
    $('#vote_form').submit(function (){
      showLoading('#vote_prog_loading')
      $.post($(this).attr('action'), $(this).serialize(), function(data) {
        hideLoading('#vote_prog_loading');
      }, "script");
      return false;
    });
    
    $('#cancel_vote_form').submit(function (){
      showLoading('#vote_prog_loading')
      $.post($(this).attr('action'), $(this).serialize(), function(data) {
        hideLoading('#vote_prog_loading');
      }, "script");
      return false;
    });
    
    $('#new_comment').submit(function (){
      showLoading('#com_prog_loading')
      $.post($(this).attr('action'), $(this).serialize(), function(data) {
        hideLoading('#com_prog_loading');
      }, "script");
      return false;
    });

  });
  //]]>
</script>

<div class="span-17 last">
  <h2><%= @vote_topic.header %></h2>
  <h4><%= @vote_topic.topic %></h4>
  <% if !@vote_topic.anon %>
    <h5><%= "Posted by #{link_to @vote_topic.user.username, @vote_topic.user} on #{@vote_topic.created_at.strftime('%b %d %Y')}" %></h5>
  <% else %>
    <h5><%= "Posted by Anonymous on #{@vote_topic.created_at.strftime('%b %d %Y')}" %></h5>
  <% end  %>
  <h5><%= "Total Votes #{@vote_topic.total_votes}" %></h5>
  <% total_v = @vote_topic.total_votes %>
  
  <div id="vote_details">
    <% if !total_v.nil? && total_v > 0 %>
      <ul>
        <% @vote_items.each do |v| %>
          <li>
            <%= get_vote_percent v, total_v %>
          </li>
        <% end  %>
      </ul>
    <% end  %>
  </div>
</div>

<div id="vote_prog_loading" class="progress" style="opacity:0;"></div>

<div id="div_vote_form" class="span-17 last" >
  <%@vote_items = @vote_topic.vote_items if !@vote_topic.nil?%>
  <% complete = @vote_topic.is_vote_complete?(@vote_items, current_user) %>
  <%if current_user && !@vote_items.nil? && !complete%>
    <%= render :partial => "vote_form" %>
  <% elsif current_user && complete %>
    <%= render :partial => "vote_cancel_form" %>
  <% elsif !current_user %>
    <div class="prepend-top append-bottom">
      <%= color_link_with_icon("lnk", login_path, "ui-icon-key", "Login to Vote") %>
    </div>
  <% end  %>
</div>


<div id="vote_dlg" class="span-17 last">
  <% if @vote_topic.total_votes > 0 %>
    <%= render :partial => "vote_tally"%>
  <% end  %>
</div>

<div id="comments_container" class="span-17 last">
  <% if current_user.nil? %>
    <%= link_to "Please login to comment", login_path  %>
  <% else %>
    <div id ="comment_form">
      <% form_for ([@vote_topic, Comment.new]) do |f| %>
        <ul>
          <li><%= f.text_area :body, :size => "50x5" %></li>
          <li><%= color_link_with_icon("comment_submit", "#", "ui-icon-trash", "Comment") %></li>
        </ul>
      <% end %>
    </div>
  <% end  %>
  <div id="com_prog_loading" class="progress" style="opacity:0;"></div>
  <div id ="comments">
    <%= render :partial => "comments/comments" %>
  </div>
</div>
