<% content_for :title do %>
  <%= @vote_topic.header %>
<% end  %>
<%# share_url = Constants::SHARE_URL_PREFIX.concat(scoped_vote_topic_path(@vote_topic.category, @vote_topic)) %>
<% share_url = "http://" + APP_CONFIG['site_domain'] + (scoped_vote_topic_path(@vote_topic.category, @vote_topic)) %>
<%content_for :fb_metas do %>
  <meta property="og:title" content="<%= @vote_topic.header %>"/>
  <meta property="og:type" content="<%= @vote_topic.category.name %>"/>
  <meta property="og:url" content="<%= share_url %>"/>
  <meta property="og:site_name" content="votechek"/>
  <meta property="og:description" content="<%= @vote_topic.topic[0..20]%>"/>
  <meta property="fb:app_id" content="<%= APP_CONFIG['facebook_app_id'] %>"/>
<% end  %>

<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function() {
    $('.vote').live('click', function() {
      //post vote
      $.ajax({type: 'POST',
        url:'<%= votes_path() %>',
        data: {
          response : $(this).attr('id'),
          user_id : $('#user_id').val(),
          id:$('#vote_id').val(),
          category: $('#category').val(),
          power_points: $('#vote_bonus').val()
        },
        success : function() {
          //$('#vote_status').html('Vote Accepted.');
        },
        error:function(){
          showFlash('Sorry vote could not be processed', 'flash-error')
        },
        beforeSend : function() {
          showProgress($('#vote_loading'))
        },
        complete: function() {
          hideProgress($('#vote_loading'))
        }
      });
      return false;
    });
    
    $('#tabs').tabs( {
      spinner:"<img src='/images/loading.gif'/>",
      select : function(event, ui) {

      },
      ajaxOptions:{
        error:function(xhr, status,index, anchor){$(anchor.hash).html("Couldn't load this tab. \n\
        We'll try to fix this as soon as possible.");
        },
        dataType:'html', success:function(){
        }
      }
    });
    
    $('#track_link').live('click', function() {
      $(this).addClass('loading-link')
      if ($(this).hasClass('untrack')) {
        $.ajax({
          type :'DELETE',
          url : $(this).attr('href'),
          dataType : 'script',
          complete : function() {
            $(this).removeClass('loading-link')
          }
        }
      );
      } else {
        $.ajax({
          type : 'POST',
          url:$(this).attr('href'),
          dataType : 'script',
          complete : function() {
            $(this).removeClass('loading-link')
          }
        }
      );
      }
      return false;
    });

<% if current_user %>
      handleCommentText(<%= Constants::MAX_COMMENT_LENGTH %>);
      //and fire it on doc ready, too
      update_chars_left(<%= Constants::MAX_COMMENT_LENGTH %>, $('#comment_body')[0], $('#limit_status'));
<%end%>
    $('.pagination a').live("click", function () {
      $(this).addClass('loading-link');
      $.ajax({
        type : 'GET',
        url : this.href,
        complete : function() {
          $(this).removeClass('loading-link');
        },
        dataType : 'script'
      })
      return false;
    });

    $('#comment_add').button({icons:{primary:'ui-icon-comment'}}).click(function(){
      var sPath = window.location.pathname;
      var sPage = sPath.substring(sPath.lastIndexOf('/') + 1);
      location.href = sPage+"#"+"comment_form"
      $("#comment_body").focus();

    });
    /**$('#facets').accordion({
      collapsible : true
    });**/
  });
  //]]>
</script>

<div class=" span-18 last">
  <div class="normal-pad" id="">
    <div class="ui-widget-vote-preview normal-pad ">
      <div>
        <table class="vote-info-table-top" id="">
          <tr>
            <td class="right-border" style="width:20%">
              <%= render :partial => "/shared/ubox", :locals => {:user => @vote_topic.poster, :anon => @vote_topic.anon} %>
            </td>
            <td style="width:80%">
              <blockquote class="preview">
                <span class="big"> <%= @vote_topic.header %></span>
              </blockquote>
            </td>
          </tr>
        </table>

        <p class="left-mar top-mar">
          <%= @vote_topic.topic %>
        </p>
        <%= render :partial => "vote_control" %>
      </div>
      <div>
        <%= render :partial => 'vote_info_show', :locals => {:vt => @vote_topic} %>
      </div>
    </div>
  </div>
</div>

<div class="span-18 last" id="">
  <div class="normal-pad" id="">
    <%= render :partial => '/trackings/trackings', :locals => {:vt => @vote_topic} %>
  </div>
</div>

<div class="span-18 append-bottom social-div" id="">
  <div class="normal-pad" id="">
    <h4 class="bottom-border bld bottom-mar">Be Social</h4>
    <table class="social" id="">
      <tr>
        <td style="width:505px">
      <fb:like href="<%= share_url %>" width="500" ></fb:like>
      </td>
      <td class="r-t-a" style="width:115px">
        <a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= share_url %>" data-count="horizontal">Tweet</a>
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      </td>
      <td class="r-t-a" style="width:80px">
        <a class="DiggThisButton DiggCompact" href="http://digg.com/submit?url=<%=share_url%>"></a>
      </td>
    </table>
  </div>
</div>

<% facet = VoteFacet.find_for_show(@vote_topic.id) %>
<% if !facet.nil? || !facet.blank? %>
  <div id ="facets" class="span-18 last">
    <h4 class="bottom-border bld bottom-mar">About the voters</h4>
    <div class="" id="">
      <ul class="facet-list">
        <%= print_facet facet %>
      </ul>
    </div>
  </div>
<% end  %>


<%= render :partial => "comments/comments", :locals => {:vote_topic => @vote_topic, :user => current_user, :selected_response_for_comment => @selected_response} %>


<div id="fb-root">
</div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId: "<%= APP_CONFIG['facebook_app_id']%>"  ,
      status: true,
      cookie: true,
      xfbml: true}
  );
  };
  (function() {
    var e = document.createElement('script');
    e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }()
);
</script>
<script type="text/javascript" src ="http://widgets.digg.com/buttons.js"/>
<script type="text/javascript">
  (function() {
    var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
    s.type = 'text/javascript';
    s.async = true;
    s.src = 'http://widgets.digg.com/buttons.js';
    s1.parentNode.insertBefore(s, s1);
  })();
</script>
