<% if !@p_chart.nil? && !@vote_topic.nil?%>
<div class="span-18 last">
  <div id="pic_loading_g" class="span-18 last" style="opacity:0.0"></div>
  <div class="bottom-mar span-18 last"  id="chart_controls">
    <div class="chart-control">
    <span class="small-button"><%= @p_chart.link_to_remote_ofc_load("Pie", "chart", url_for(:controller => :graphs, :action => :pie_graph, :id => @vote_topic.id)) %></span>
    <span class="small-button"><%= @p_chart.link_to_remote_ofc_load("Age", "chart", url_for(:controller => :graphs, :action => :age_graph, :id => @vote_topic.id)) %></span>
    <span class="small-button"><%= @p_chart.link_to_remote_ofc_load("Gender", "chart", url_for(:controller => :graphs, :action => :gender_graph, :id => @vote_topic.id)) %></span>
    </div>
  </div>
</div>

<div class="chart-container span-18 last">
  <div class="chart-box">
    <%= @p_chart.js_open_flash_chart_object("chart", Constants::LARGE_GRAPH_WIDTH, Constants::LARGE_GRAPH_HEIGHT_16_9) %>
  </div>
</div>
<% else %>
  <%= "" %>
<% end  %>


