<table class="vote-info-table-show">
  <tr>
    <td class="no-pad">
      <span class="small bld">
        <span class="ui-icon ui-icon-tag "></span>
        <%= link_to "#{vt.category.name}, ", category_vote_topics_path(vt.category.to_param) %>
        <%= link_to "#{vt.poster.city}, ", city_vote_topics_path(vt.poster.city, :order => 'distance') %>
        <%= link_to "#{vt.poster.state}", state_vote_topics_path(vt.poster.state, :order => 'recent') %>
      </span>
    </td>
    <td class="no-pad">
      <div class="ui-state-normal">
        <span class="small">Started : <%= vt.created_at.strftime('%b %d %Y') %></span>
        <% if vt.expires %>
          <% if vt.expires > DateTime.now %>
            <span class="small" id=""> Ends :
              <%= vt.expires.strftime('%b %d %Y') %>
            </span>
          <% else %>
            <span class="small" id=""> Ended :
              <%= vt.expires.strftime('%b %d %Y') %>
            </span>
          <% end  %>
        <% end  %>
      </div>
    </td>
    <% if !vt.flags.nil? %>
      <td class="no-pad r-t-a" >
        <%= flags vt %>
      </td>
    <% end  %>
  </tr>
</table>