<script type="text/javascript">
  //<![CDATA[
  google.load("prototype", "1.6.1.0");
  
  google.setOnLoadCallback(function() {
    if ($('pic_loading_g') != null) {
      $('pic_loading_g').setStyle({
        opacity: 0.0
      });
    }

    Ajax.Responders.register({
      onCreate: function() {
        $('pic_loading_g').setStyle({
          opacity: 1.0
        });
        return false;
      },
      onComplete: function() {
        $('pic_loading_g').setStyle({
          opacity: 0.0
        });
        return false;
      }
    });
  });
  
  function showLoading(elem) {
    $j(elem).animate({opacity:1.0}, 'slow', function(){});
    $j(elem).next('div').animate({
      opacity: 0.3
    }, 'slow', function() {
    });
  }

  function hideLoading(elem) {
    $j(elem).animate({opacity:0.0}, 'slow', function(){});
    $j(elem).next('div').animate({
      opacity: 1.0
    }, 'slow', function() {
    });
  }

  function update_chars_left(max_len, target_input, display_element) {
    var text_len = target_input.value.length;
    if (text_len >= max_len) {
      target_input.value = target_input.value.substring(0, max_len); // truncate
      display_element.html("0 characters left");
    } else {
      display_element.html((max_len - text_len) + " characters left");
    }
  }

  
  $j(document).ready(function() {
    //update page elements every now and then

    function updatePageElems() {
      showLoading($j('#tot_prog_loading'));
      $j.get('<%=  update_stats_vote_topic_path(@vote_topic)  %>', function(data){
        hideLoading($j('#tot_prog_loading'));
      }, 'script');
    }
    var refreshId = setInterval(function(){
      updatePageElems();
    }, <%= Constants::VOTE_REFRESH_INTERVAL%> );
    
    $j('.pagination a').live("click", function () {
      showLoading('#com_prog_loading');
      $j.get(this.href, null, function (data) {
        hideLoading('#com_prog_loading')
      }, 'script');
      return false;
    }); 

    $j('#vote_link').button({icons:{primary:'ui-icon-person'}});
    $j('#cancel_vote_link').button({icons:{primary:'ui-icon-close'}});
    $j('#goto_comment_link').button({icons:{primary:'ui-icon-comment'}});
    $j('#vote_login_link').button({icons:{primary:'ui-icon-key'}});
    
    $j('#vote_link').live('click',function() {
      oneChecked = false
      $j(':radio', '#vote_form').each(function() {
        if (this.checked == true) {
          $j('#vote_form').submit();
          oneChecked = true
        }
      });
      if (oneChecked == false) {
        alert('Please select a vote option.');
      }
      return false;
    });
 
    $j('#cancel_vote_link').live('click', function() {
      $j('#vote_form').submit();
      return false;
    });

    $j('#comment_submit').button({icons:{primary:'ui-icon-comment'}}).click(function() {
      $j('#new_comment').submit();
      return false;
    });

    $j('#vote_form').submit(function (){
      showLoading('#vote_prog_loading')
      $j.post($j(this).attr('action'), $j(this).serialize(), function(data) {
        hideLoading('#vote_prog_loading');
      }, "script");
      return false;
    });

    $j('#cancel_vote_form').submit(function (){
      showLoading('#vote_prog_loading')
      $j.post($j(this).attr('action'), $j(this).serialize(), function(data) {
        hideLoading('#vote_prog_loading');
      }, "script");
      return false;
    });

    $j('#new_comment').submit(function (){
      showLoading('#com_submit_loading')
      $j.post($j(this).attr('action'), $j(this).serialize(), function(data) {
        hideLoading('#com_submit_loading');
      }, "script");
      return false;
    });

    $j("#chart_controls a:contains('Pie')").button({icons:{primary:'ui-icon-document'}, text:false});
    $j("#chart_controls a:contains('Age')").button({icons:{primary:'ui-icon-person'}, text:false});
    $j("#chart_controls a:contains('Gender')").button({icons:{primary:'ui-icon-close'}, text:false});

    $j('#comment_body').keyup(function() {
      update_chars_left(<%= Constants::MAX_COMMENT_LENGTH %>, $j('#comment_body')[0], $j('#limit_status'));
    });
    //and fire it on doc ready, too
    update_chars_left(<%= Constants::MAX_COMMENT_LENGTH %>, $j('#comment_body')[0], $j('#limit_status'));
  });
  //]]>
</script>

<div class=" span-18 last">
  <% @total_v = @vote_topic.total_votes %>
  <div class=" ui-state-hover ui-corner-all prepend-top normal-pad right-mar">
    <span class="clearfix big bld bottom-mar topic-header">&quot;<%= @vote_topic.header %>&quot;</span>
    <span class="top-mar clearfix" style="font-weight: normal"><%= @vote_topic.topic %></span>
    <span class="small">
      <% if !@vote_topic.anon %>
        <%= "By #{link_to @vote_topic.user.username, @vote_topic.user} on #{@vote_topic.created_at.strftime('%b %d %Y')}" %>
      <% else %>
        <%= "By Anonymous on #{@vote_topic.created_at.strftime('%b %d %Y')}" %>
      <% end  %>
    </span>
  </div>
  <div id="tags" class=""bld top-mar"> <span class="ui-icon ui-icon-tag"></span> <%= link_to "In #{@vote_topic.category.name}", category_vote_topics_path(@vote_topic.category), :class => 'tag' %></div>
  <div id="tot_prog_loading" class="progress" style="opacity:0;"></div>
  <div class="prepend-top bottom-mar bld big special-text right_mar_small" id="tot_votes"><%= "#{@vote_topic.total_votes} Votes" %></div>
</div>

<div id="vote_prog_loading" class="progress" style="opacity:0;"></div>

<div id="div_vote_form" class="span-18 last" >
  <%if current_user && !@vote_items.nil? && !@selected_response%>
    <%= render :partial => "vote_form", :locals => {:submit_url => process_votes_vote_topic_path(@vote_topic, :user_id => current_user.id), :action => 'process'} %>
  <% elsif current_user && @selected_response %>
    <%= render :partial => "vote_form", :locals => {:submit_url => cancel_vote_vote_topic_path(@vote_topic, :user_id => current_user.id), :action => 'cancel'} %>
  <% elsif !current_user %>
    <%= render :partial => "vote_form_need_login", :locals => {:action => 'login'} %>
  <% end  %>
</div>


<div id="vote_dlg" class="span-18 last" >
  <% if !(@vote_topic.total_votes == 0) %>
    <%= render :partial => "vote_tally"%>
  <% end  %>
</div>



<div id="comments_container" class=" prepend-top span-18 last">
  <span class="bld clearfix bottom-mar">Comments</span>
  <% if current_user.nil? %>
    <%= link_to "Please login to comment", login_path  %>
  <% else %>
    <div id="com_submit_loading" class="progress" style="opacity:0;"></div>
    <div id ="comment_form" class=" right-mar ">
      <% form_for ([@vote_topic, Comment.new]) do |f| %>
        <ul class="list_no_pad_no_style">
          <li><%= f.text_area :body %></li>
          <li id="limit_status"></li>
          <li><span class="small-button"><button id ="comment_submit">Comment</button></span></li>
        </ul>
      <% end %>
    </div>
  <% end  %>

  <div id="com_prog_loading" class="progress" style="opacity:0;"></div>
  <div id ="comments" class="right-mar">
    <%= render :partial => "comments/comments" %>
  </div>
</div>




