<% content_for :title do %>
  <%= @vote_topic.header %>
<% end  %>
<%# share_url = Constants::SHARE_URL_PREFIX.concat(url_for(:controller => "vote_topics", :action => "show", :id => @vote_topic.id)) %>
<% share_url = Constants::SHARE_URL_PREFIX.concat(vote_topic_url(@vote_topic.category, @vote_topic)) %>
<%content_for :fb_metas do %>
  <meta property="og:title" content="<%= @vote_topic.header %>"/>
  <meta property="og:type" content="<%= @vote_topic.category.name %>"/>
  <meta property="og:url" content="<%= share_url %>"/>
  <meta property="og:site_name" content="votechek"/>
  <meta property="og:description" content="<%= @vote_topic.topic[0..20]%>"/>
  <meta property="fb:app_id" content="<%= APP_CONFIG['facebook_app_id'] %>"/>
<% end  %>

<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function() {
    setVotingCounter(<%= Constants::VOTING_COUNTER_RESET_INTERVAL%>);

    $('.take-action').live('click', function() {
      var count_val = $('#vote_count').val();
      if (count_val > <%= Constants::MAX_VOTES_PER_INTERVAL %> ) {
        showFlash('Vote Slowly', 'flash-error');
        //$('#flash_messages').append('<div></div>').attr('class', 'error').text('Vote Slowly.');
      } else {
        $('#vote_count').val(++count_val);
        if ($(this).hasClass('vote')) {
          //post vote
          $.ajax({type: 'POST',
            url:'<%= votes_path() %>',
            data: {
              id: '<%= @vote_topic.id %>',vote_open: $('#vote_open').val(), reg_complete : $('#reg_complete').val(), response : $(this).attr('id'),
              user_id : $('#user_id').val(), id:$('#vote_id').val()
            },
            success : function() {
              //$('#vote_status').html('Vote Accepted.');
            },
            error:function(){
              $('#flash_messages').append('<div></div>').attr('class', 'error').text('Sorry. An error occured. Please try later.');
            },
            beforeSend : function() {
              showProgress($('#vote_loading'))
            },
            complete: function() {
              hideProgress($('#vote_loading'))
            }
          });
        } else {
          //cancel vote
          $.ajax({type: 'DELETE',
            url:'<%= url_for(:controller => 'votes', :action => 'destroy', :only_path => true, :id => @vote_topic.id) %>',
            data: {
              id: '<%= @vote_topic.id %>', vote_open: $('#vote_open').val(),reg_complete:$('#reg_complete').val(),response : $(this).attr('id'),
              user_id : $('#user_id').val(), id:$('#vote_id').val()
            },
            success : function() {
              //$('#vote_status').html('Vote Cancelled.');
            },
            error:function(){
              $('#flash_messages').append('<div></div>').attr('class', 'error').text('Sorry. An error occured. Please try later.');
            },
            beforeSend : function() {
              showProgress($('#vote_loading'))
            },
            complete: function() {
              hideProgress($('#vote_loading'))
            }
          });
        }
      }
      return false;
    });
    
    $('#tabs').tabs( {
      spinner:"<img src='/images/loading.gif'/>",
      select : function(event, ui) {

      },
      ajaxOptions:{
        error:function(xhr, status,index, anchor){$(anchor.hash).html("Couldn't load this tab. \n\
        We'll try to fix this as soon as possible.");
        },
        dataType:'html', success:function(){
        }
      }
    });
    
    $('#track_link').live('click', function() {
      $(this).addClass('loading-link')
      if ($(this).hasClass('untrack')) {
        $.ajax({
          type :'DELETE',
          url : $(this).attr('href'),
          dataType : 'script',
          complete : function() {
            $(this).removeClass('loading-link')
          }
        }
      );
      } else {
        $.ajax({
          type : 'POST',
          url:$(this).attr('href'),
          dataType : 'script',
          complete : function() {
            $(this).removeClass('loading-link')
          }
        }
      );
      }
      return false;
    });

    $('#track_link').tooltip({
      relative : true
    });

<% if current_user %>
      handleCommentText(<%= Constants::MAX_COMMENT_LENGTH %>);
      //and fire it on doc ready, too
      update_chars_left(<%= Constants::MAX_COMMENT_LENGTH %>, $('#comment_body')[0], $('#limit_status'));
<%end%>
    $('.pagination a').live("click", function () {
      $(this).addClass('loading-link');
      $.ajax({
        type : 'GET',
        url : this.href,
        complete : function() {
          $(this).removeClass('loading-link');
        },
        dataType : 'script'
      })
      return false;
    });
  });
  //]]>
</script>

<div class=" span-18 last">
  <div class="ui-widget-vote-preview  normal-pad ">
    <div>
      <blockquote class="preview">
        <span class="big"><%=  @vote_topic.header%></span>
      </blockquote>
      <p class="left-mar">
        <%= @vote_topic.topic %>
      </p>
      <%= render :partial => "vote_control" %>
    </div>
    <div>
      <%= render :partial => 'vote_info', :locals => {:vt => @vote_topic, :preview => false} %>
    </div>
  </div>
</div>

<div class="top-mar  span-18 last prepend-top append-bottom ">
  <table class="ui-state-default" id="">
    <tr>
      <td class="top-al">
        <a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= share_url %>" data-count="horizontal">Tweet</a>
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      </td>
      <td class="top-al">
        <a class="DiggThisButton DiggCompact" href="http://digg.com/submit?url=<%=share_url%>"></a>
      </td>
      <td class="top-al">
    <fb:like href="<%= share_url %>" width="450"></fb:like>
    </td>
    </tr>
  </table>
</div>

<% if !@vote_topic.vote_facet.nil? %>
  <div id ="facets" class="span-18 last">
    <div class="ui-corner-all ui-widget-content">
      <h4 class="bld normal-pad">About your voters</h4>
      <hr/>
      <ul class="facet-list">
        <%= print_facet @vote_topic.vote_facet %>
      </ul>
    </div>
  </div>
<% end  %>


<%= render :partial => "comments/comments", :locals => {:vote_topic => @vote_topic, :user => current_user, :selected_response_for_comment => @selected_response} %>

  
<div id="fb-root">
</div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId: "<%= APP_CONFIG['facebook_app_id']%>"  ,
      status: true,
      cookie: true,
      xfbml: true}
  );
  };
  (function() {
    var e = document.createElement('script');
    e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }()
);
</script>
<script type="text/javascript" src ="http://widgets.digg.com/buttons.js"/>
<script type="text/javascript">
  (function() {
    var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
    s.type = 'text/javascript';
    s.async = true;
    s.src = 'http://widgets.digg.com/buttons.js';
    s1.parentNode.insertBefore(s, s1);
  })();
</script>
