<div id="div_vote_form" class=" rel-pos left-mar" >
  <div id="vote_loading" style="display:none">
    <div class="loading-inner-center"></div>
  </div>
  <%= hidden_field_tag :user_id, current_user.nil? ? nil: current_user.id%>
  <%= hidden_field_tag :vote_id, @vote_topic.nil? ? nil : @vote_topic.id %>
  <%= hidden_field_tag :category, @vote_topic.nil? ? nil : @vote_topic.category.to_param %>
  <%= hidden_field_tag :vote_bonus, (power_points_bonus @vote_topic) %>
  <%= hidden_field_tag :vote_count, 0 %>
  <% if @vote_topic.expires > DateTime.now %>
    <% if current_user && registration_complete? %>
  <div class="vote-stat">
      <% if @selected_response %>
        <%= render :partial => "vote_form", :locals => {:selected_response => @selected_response, :vt => VoteTopic.find_for_stats(@vote_topic.id, @vote_topic.category)} %>
      <% else %>
        <%= render :partial => "unvoted", :locals => {:selected_response => @selected_response} %>
      <% end  %>
  </div>
    <% else %>
      <%= render :partial => "vote_options" %>
    <% end  %>
  <% else %>
    <%= render :partial => "vote_form", :locals => {:selected_response => @selected_response, :vt => VoteTopic.find_for_stats(@vote_topic.id, @vote_topic.category)} %> 
  <% end  %>
</div>