<% content_for :title do %>
  <%= @vote_topic.header %>
<% end  %>
<% share_url = "http://" + APP_CONFIG['site_domain'] + (scoped_vote_topic_path(@vote_topic.category, @vote_topic)) %>
<%content_for :fb_metas do %>
  <meta property="og:title" content="<%= @vote_topic.header %>"/>
  <meta property="og:type" content="<%= @vote_topic.category.name %>"/>
  <meta property="og:url" content="<%= share_url %>"/>
  <meta property="og:site_name" content="votechek"/>
  <meta property="og:description" content="<%= @vote_topic.topic[0..20]%>"/>
  <meta property="fb:app_id" content="<%= APP_CONFIG['facebook_app_id'] %>"/>
<% end  %>

<script type="text/javascript">
  
  //<![CDATA[
  $(document).ready(function() {
    $('.vote').live('click', function() {
      //post vote
      $.ajax({type: 'POST',
        url:'<%= votes_path() %>',
        data: {
          response : $(this).attr('id'),
          user_id : $('#user_id').val(),
          id:$('#vote_id').val(),
          category: $('#category').val(),
          power_points: $('#vote_bonus').val()
        },
        success : function() {
          //$('#vote_status').html('Vote Accepted.');
        },
        error:function(){
          showFlash('Sorry vote could not be processed', 'flash-error')
        },
        beforeSend : function() {
          showProgress($('#vote_loading'))
        },
        complete: function() {
          hideProgress($('#vote_loading'))
        }
      });
      return false;
    });
    
    $('#tabs').tabs( {
      spinner:"<img src='/images/loading.gif'/>",
      select : function(event, ui) {

      },
      ajaxOptions:{
        error:function(xhr, status,index, anchor){$(anchor.hash).html("Couldn't load this tab. \n\
        We'll try to fix this as soon as possible.");
        },
        dataType:'script', success:function(){
        }
      }
    });
    
    $('#track_link').live('click', function() {
      $(this).addClass('loading-link')
      if ($(this).hasClass('untrack')) {
        $.ajax({
          type :'DELETE',
          url : $(this).attr('href'),
          dataType : 'script',
          complete : function() {
            $(this).removeClass('loading-link')
          }
        }
      );
      } else {
        $.ajax({
          type : 'POST',
          url:$(this).attr('href'),
          dataType : 'script',
          complete : function() {
            $(this).removeClass('loading-link')
          }
        }
      );
      }
      return false;
    });

<%#*$("#comment_body").markItUp(mySettings);%>

<% if current_user %>
      //  handleCommentText(<%= Constants::MAX_COMMENT_LENGTH %>);
      //and fire it on doc ready, too
      // update_chars_left(<%= Constants::MAX_COMMENT_LENGTH %>, $('#comment_body')[0], $('#limit_status'));
<%end%>
    $('.pagination a').live("click", function () {
      $(this).addClass('loading-link');
      $.ajax({
        type : 'GET',
        url : this.href,
        complete : function() {
          $(this).removeClass('loading-link');
        },
        dataType : 'script'
      })
      return false;
    });

    
<%if current_user%>
      $('#email_vote').button({icons:{primary:'ui-icon-mail-closed'}}).click(function(){
        configureEmailOverlay("<%= current_user.username  %> wants to share this vote with you.", "share", "share", "vote", "1")
        showEmailOverlay();
        return false;
      });
<%end %>

  });
  //]]>
</script>

<div class=" span-18 last">
  <div class="normal-pad" id="">
    <div class=" ">
      <%= render :partial => 'vote_preview', :locals => {:vt => @vote_topic, :for_show => true} %>
      <div class="left-mar top-mar">
        <%= @vote_topic.topic %>
      </div>
      <%= render :partial => "vote_control" %>
    </div>
  </div>
</div>

<%= render :partial => "comments/comments", :locals => {:vote_topic => @vote_topic, :user => current_user, :selected_response_for_comment => @selected_response} %>

<% content_for :right_nav do %>
  <%= render :partial => '/trackings/trackings', :locals => {:vt => @vote_topic} %>
  <ul class="list_no_pad_no_style" id="" style="margin-right: 0;">
    <li class="big bld dotted-bottom">Share</li>
    <li>
    <fb:like href="<%= share_url %>" width="230" ></fb:like>
  </li>
  <li>
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= share_url %>" data-count="horizontal">Tweet</a>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </li>
  <li>
    <a class="DiggThisButton DiggCompact" href="http://digg.com/submit?url=<%=share_url%>"></a>
  </li>
  <% if current_user %>
    <li>
      <span class="small-button"><button id="email_vote">Email</button></span>
    </li>
  <% end  %>
  </ul>

  <%#= render :partial => "/layouts/vote_side_bar", :locals => {:votes => @related, :header => "Related"} %>
  <%= render :partial => "/shared/vote_side_bar_widget", :locals => {:header => "Related", :load_path =>
      side_bar_index_vote_topics_path(:category_id => @vote_topic.category_id, :type => "same_category"), :l_type => "same_category", :first => true} %>

  <%= render :partial => "/shared/vote_side_bar_widget", :locals => {:header => "More from #{@vote_topic.poster.username}", :load_path =>
      side_bar_index_vote_topics_path(:user_id => @vote_topic.poster.id, :type => "same_user"),:l_type => "same_user"} %>
<% end  %>


<div id="fb-root">
</div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId: "<%= APP_CONFIG['facebook_app_id']%>"  ,
      status: true,
      cookie: true,
      xfbml: true}
  );
  };
  (function() {
    var e = document.createElement('script');
    e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }()
);
</script>
<script type="text/javascript" src ="http://widgets.digg.com/buttons.js"/>
<script type="text/javascript">
  (function() {
    var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
    s.type = 'text/javascript';
    s.async = true;
    s.src = 'http://widgets.digg.com/buttons.js';
    s1.parentNode.insertBefore(s, s1);
  })();
</script>

<div class="email-overlay generic-overlay" id="email_overlay">
  <%= render :partial => '/shared/email_something', :locals => {:email_type => :vote} %>
</div>