<% if !vt.nil? %>
  <div class="span-16 last ui-widget-content bottom-mar normal-pad">
    <div class="clearfix bld bottom-mar ui-widget-header normal-pad">
      <span class="big"><%= link_to vt.header, vt %></span>
      <span class="special-text"><%= "(#{vt.total_votes} votes)"  %></span>
      <span class="small clearfix">
        <% if !vt.anon %>
          <%= "Posted by #{link_to vt.user.username, vt.user} on #{vt.created_at.strftime('%b %d %Y')}" %>
        <% else %>
          <%= "Posted by Anonymous on #{vt.created_at.strftime('%b %d %Y')}" %>
        <% end  %>
      </span>
    </div>
    <ul>
      <% first = true %>
      <% vi.each do |v| %>
        <li>
          <% if first %>
            <span class="ui-icon ui-icon-arrowthick-1-n list-icon"></span>
            <span class="bld"><%=  get_vote_percent(v, vt.total_votes)%></span>
            <% first = false %>
          <% else %>
            <span class="ui-icon ui-icon-document list-icon"></span>
            <span><%=  get_vote_percent(v, vt.total_votes)%></span>
          <% end  %>
          
        </li>
      <% end  %>
    </ul>
  </div>
<% end  %>