<% if !selected_response.nil? %>
  <ul class="top-mar vi-list-voted" id="vote_items_list_voted">
    <% vt.vote_items.each do |v| %>
      <li id="v-item-<%= v.id %>" class="<%= selected_response.to_i == v.id ? "selected-vote" : ""%>">
        <%= (get_vote_percent v, vt.votes_count) %>
      </li>
      <%= get_percent_div (v.get_vote_percent_num vt.votes_count) %>
      <li class="option-separator"></li>
    <% end  %>
  </ul>
  <% facet = VoteFacet.find_for_show(vt.id) %>
  <% if !facet.nil? || !facet.blank? %>
    <div id ="facets" class="">
      <h5 class="bottom-border bld bottom-mar">About the voters</h5>
      <div class="" id="">
        <ul class="facet-list">
          <%= print_facet facet %>
        </ul>
      </div>
    </div>
  <% end  %>
  <div class="top-mar bottom-mar" id="" style="text-align: right;font-weight: bold">
    <table class="compressed-table" id="">
      <tr>
        <td class="l-t-a">
          <span class="small-button"><button id="comment_add">Add Comment</button></span>
        </td>
        <td class="r-t-a stat-number big">
          <%= Rails.cache.fetch("vt_votes_#{vt.id}") do vt.votes_count end %> votes
        </td>
      </tr>
    </table>
  </div>
<% end  %>
























