<script type="text/javascript">
  //<![CDATA[
  
  
  //]]>
</script>

<div id="div_process_vote">
  <% form_tag submit_url, :id => "vote_form" do |f| %>
    <%= hidden_field_tag :user_id, (@user).id if !@user.nil?%>
    <%= hidden_field_tag :reg_complete, @reg_complete.nil? ? nil : @reg_complete %>
    <%= hidden_field_tag :sel_response, @selected_response.nil? ? nil: @selected_response.id %>
    <ul class="ui-corner-all top-mar vi-list" id="vote_items_list">
      <% sort_vote_items(@vote_topic.vote_items).each do |v| %>
        <li class="">
          <span class="ui-icon ui-icon-document list-icon"></span>
          <span id="rt_<%= v.id %>" class="vote-item"><%= (get_vote_percent v, @vote_topic.total_votes) %></span>
          <% if !@selected_response.nil?  && @selected_response == v%>
            <span class ="small-button"><button id="cancel_vote_link">Cancel Vote</button></span>
            <span class ="small-button"><a href="#comment_form" id="goto_comment_link">Comment</a></span>
          <% elsif action == 'process'%>
            <%= radio_button_tag "response", v.id %>
          <% end %>
        </li>
        <%= get_percent_div (v.get_vote_percent_num @vote_topic.total_votes) %>
      <% end %>

      <% if action == 'process' %>

        <% if @vote_open == true %>
          <% if !@reg_complete %>
            <li class="vote-action">
              <%= link_to "Complete Registration to Vote", edit_user_path(@user) %>
            </li>
          <% else %>
            <%= get_the_vote_button %>
          <% end  %>
        <% end  %>
      <% end  %>
    </ul>
  <% end  %>
</div>