<% if !selected_response.nil? %>
  <ul class="top-mar vi-list-voted" id="vote_items_list_voted">
    <% vt.vote_items.each do |v| %>
      <% selected = selected_response.to_i == v.id ? true : nil %>
      <li id="v-item-<%= v.id %>" class=" small loud <%= selected ?  "highlighted" : ""%>">
        <% if selected  %>
          <%= "#{(get_vote_percent v, vt.votes_count)} (your vote) " %>
        <% else %>
          <%= "#{(get_vote_percent v, vt.votes_count)}" %>
        <% end  %>
      </li>
      <%= get_percent_div (v.get_vote_percent_num vt.votes_count) %>
      <li class="option-separator"></li>
    <% end  %>
  </ul>
  <% facet = VoteFacet.find_for_show(vt.id) %>
  <% if !facet.nil? || !facet.blank? %>
    <div id ="facets" class="">
      <h5 class="bottom-border bld bottom-mar">About the voters</h5>
      <div class="" id="">
        <ul class="facet-list">
          <%= print_facet facet %>
        </ul>
      </div>
    </div>
  <% end  %>
<% end  %>
























