<%  if local_assigns[:preview].nil?
  preview = nil
end
if local_assigns[:toolbar].nil?
  toolbar = nil
end
if local_assigns[:show_track_link].nil?
  show_track_link = nil
end
%>
<table class="vote-info-table">
  <tr>
    <td class="no-pad">
      <span class="small bld" id="">
        <span class="ui-icon ui-icon-tag "></span>
        <%= link_to "#{vt.category.name}, ", category_vote_topics_path(vt.category.to_param) %>
        <%= link_to "#{vt.poster.city}, ", city_vote_topics_path(vt.poster.city, :order => 'distance') %>
        <%= link_to "#{vt.poster.state}", state_vote_topics_path(vt.poster.state, :order => 'recent') %>
      </span>
    </td>
    <td class="no-pad">
      <span class="ui-state-normal">
        <span class="small">Started : <%= vt.created_at.strftime('%b %d %Y') %></span>
        <% if vt.expires %>
          <% if vt.expires > DateTime.now %>
            <span class="small" id=""> Ends :
              <%= vt.expires.strftime('%b %d %Y') %>
            </span>
          <% else %>
            <span class="small" id=""> Ended :
              <%= vt.expires.strftime('%b %d %Y') %>
            </span>
          <% end  %>
        <% end  %>
      </span>
    </td>

    <td class="no-pad r-t-a">
      <span class="ui-state-normal">
        <span class=" small-pad" id="">
          <%= Rails.cache.fetch("vt_votes_#{vt.id}") do vt.votes_count end %> votes
        </span>
      </span>
      <span class="ui-state-normal">
        <span class="small-pad tracking-count t-trigger" id="">
          <%= Rails.cache.fetch("vt_tracking_#{vt.id}") do vt.trackings_count end %> trackings
        </span>
        <%= render :partial => "/shared/tooltip", :locals => {:text => "Number of people who are following this vote."} %>
      </span>
      <span class=""><%= flags vt %></span>
    </td>

    <% if preview %>
      <td class="no-pad">
        <%= link_to "More..", vt, :class => "go-right bld" %>
      </td>
    <% end  %>

  </tr>
  <% if toolbar == true %>
    <tr>
      <td></td>
      <td colspan="2" class="ui-state-default">
        <% if vt.votes_count == 0 %>
          <%= link_to "Edit", scoped_edit_vote_topic_path(vt.category, vt), :rel => "#vote_overlay" %>
        <% end  %>
        <span class="go-right">Status : <%= status_str vt.status %></span></td>
    </tr>
  <% end  %>
</table>