<script type="text/javascript">
  //<![CDATA[
  
  
  
  
  //]]>
</script>

<div id="div_process_vote">
  <% form_tag submit_url, :id => "vote_form" do |f| %>
    <%= hidden_field_tag :user_id, current_user.id %>
    <ul class="list_no_pad_no_style top-mar">
      <% first = true %>
      <% @vote_items.each do |v| %>
        <% if !@selected_response.nil?  && @selected_response == v%>
          <li class="ui-state-active">
            <% if first && (v.votes_for) > 0 %>
              <span class="ui-icon ui-icon-arrowthick-1-n list-icon"></span>
              <% first = false %>
            <% else %>
              <span class="ui-icon ui-icon-document list-icon"></span>
            <% end  %>
            <%= (get_vote_percent v, @vote_topic.total_votes) %>
            <span class ="small-button"><button id="cancel_vote_link">Cancel Vote</button></span>
            <span class ="small-button"><a href="#comment_form" id="goto_comment_link">Comment</a></span>
          <% else %>
          <li class="ui-widget-content">
            <% if first && v.votes_for > 0 %>
              <span class="ui-icon ui-icon-arrowthick-1-n list-icon"></span>
              <% first = false %>
            <% else %>
              <span class="ui-icon ui-icon-document list-icon"></span>
            <% end  %>
            <%= (get_vote_percent v, @vote_topic.total_votes) %>
          <% end  %>
          <% if action == 'process' %>
            <%= radio_button_tag "response", v.id %>
          <% end  %>
        </li>
      <% end %>
      <li>
        <% if action == 'process' %>
          <% if !registration_complete? %>
            <%= link_to "Complete Registration to Vote", edit_user_path(current_user) %>
          <% else %>
            <span class="small-button"><button id="vote_link">Vote</button></span>
          <% end  %>
        <% end  %>
      </li>
    </ul>
  <% end  %>
</div>