<% if local_assigns[:vi].nil? %>
  <% vi = vt.vote_items if !vt.nil? %>
<% end  %>
<% if local_assigns[:toolbar].nil? %>
  <% toolbar = false %>
<% end  %>
<% if local_assigns[:for_show].nil? %>
  <% for_show = false %>
<% end  %>

<% if !vt.nil? %>
  <div class="ui-widget-vote-preview bottom-mar normal-pad top-mar" style="clear:both" id="<%= vt.id%>">
    <%= render :partial => "/shared/ubox", :locals => {:user => vt.poster, :anon => vt.anon} %>
    <div>
      <p class="preview">
        <span><%= link_to vt.header, scoped_vote_topic_path(vt.category, vt), :class => for_show ? "large" : "" %></span>
      </p>
    </div>
    <div class="" id="">
      <%= render :partial => 'vote_topics/vote_info', :locals => {:vt => vt} %>
    </div>
    <% if toolbar == true &&  vt.status != 'a' %>
      <div class=" top-mar">
        <%= link_to "Edit", scoped_edit_vote_topic_path(vt.category, vt), :rel => "#vote_overlay", :class => "highlighted right-mar small bld" %>
        <span class="small bld">Status : <%= status_str vt.status %></span>
      </div>
    <% end  %>
  </div>
<% end  %>

