<% content_for :title do %>
  <%= @vote_topic.header %>
<% end  %>
<% share_url = Constants::SHARE_URL_PREFIX.concat(url_for(:controller => "vote_topics", :action => "show", :id => @vote_topic.id)) %>
<%content_for :fb_metas do %>
  <meta property="og:title" content="<%= @vote_topic.header %>"/>
  <meta property="og:type" content="<%= @vote_topic.category.name %>"/>
  <meta property="og:url" content="<%= share_url %>"/>
  <meta property="og:site_name" content="votechek"/>
  <meta property="og:description" content="<%= @vote_topic.topic[0..20]%>"/>
  <meta property="fb:app_id" content="<%= APP_CONFIG['facebook_app_id'] %>"/>
<% end  %>

<script type="text/javascript" src ="http://widgets.digg.com/buttons.js"/>
<script type="text/javascript">
  (function() {
    var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
    s.type = 'text/javascript';
    s.async = true;
    s.src = 'http://widgets.digg.com/buttons.js';
    s1.parentNode.insertBefore(s, s1);
  })();
</script>

<script type="text/javascript">
  //<![CDATA[
  google.load("prototype", "1.6.1.0");
  
  google.setOnLoadCallback(function() {
    if ($('pic_loading_g') != null) {
      $('pic_loading_g').setStyle({
        opacity: 0.0
      });
    }

    Ajax.Responders.register({
      onCreate: function() {
        $('pic_loading_g').setStyle({
          opacity: 1.0
        });
        return false;
      },
      onComplete: function() {
        $('pic_loading_g').setStyle({
          opacity: 0.0
        });
        return false;
      }
    });
  });
  
  function update_chars_left(max_len, target_input, display_element) {
    var text_len = target_input.value.length;
    if (text_len >= max_len) {
      target_input.value = target_input.value.substring(0, max_len); // truncate
      display_element.html("0 characters left");
    } else {
      display_element.html((max_len - text_len) + " characters left");
    }
  }

  
  $j(document).ready(function() {
    $j('#tabs').tabs( {spinner:"<img src='/images/loading.gif'/>", ajaxOptions:{error:function(xhr, status,index, anchor){$j(anchor.hash).html("Couldn't load this tab. \n\
        We'll try to fix this as soon as possible.");
        },  dataType:'script', success:function(){
        }}});


<%if @vote_open%>
      function updatePageElems() {
        showLoading($j('#vote_loading'));
  <%if @user%>
          $j.get('<%=  update_stats_vote_topic_path(@vote_topic, :user_id => @user.id)  %>',
          {sel_response:$j('#sel_response').val(), reg_complete:$j('#reg_complete').val()}, function(data){
            hideLoading($j('#vote_loading'));
          },
          'script');
  <%else%>
          $j.get('<%=  update_stats_vote_topic_path(@vote_topic)  %>',
          {sel_response:$j('#sel_response').val(), reg_complete:$j('#reg_complete').val()}, function(data){
            hideLoading($j('#vote_loading'));
          },'script');
  <%end%>
      }
      var refreshId = setInterval(function(){
        updatePageElems();
      }, <%= Constants::VOTE_REFRESH_INTERVAL%> );
<%end%>
    $j('#vote_link').button({icons:{primary:'ui-icon-person'}});
    $j('#cancel_vote_link').button({icons:{primary:'ui-icon-close'}});
    $j('#goto_comment_link').button({icons:{primary:'ui-icon-comment'}});
    $j('#vote_login_link').button({icons:{primary:'ui-icon-key'}});
    
    $j('#vote_link').live('click', function() {
      checkVoteSelected();
      return false;
    });
 
    $j('#cancel_vote_link').live('click',function() {
      $j('#vote_form').submit();
      return false;
    });

    $j('#comment_submit').button({icons:{primary:'ui-icon-comment'}}).click(function() {
      $j('#new_comment').submit();
      return false;
    });

    $j('#track_link').live('click', function() {
      $j.post($j(this).attr('href'), function(){});
      return false;
    });
    
    $j('#vote_form').submit(function (){
      showLoading('#vote_loading')
      $j.post($j(this).attr('action'), $j(this).serialize(), function(data) {
        hideLoading('#vote_loading');
      }, "script");
      return false;
    });

    $j('#cancel_vote_form').submit(function (){
      showLoading('#vote_loading')
      $j.post($j(this).attr('action'), $j(this).serialize(), function(data) {
        hideLoading('#vote_loading');
      }, "script");
      return false;
    });

    $j('#new_comment').submit(function (){
      showLoading('#com_submit_loading')
      $j.post($j(this).attr('action'), $j(this).serialize(), function(data) {
        hideLoading('#com_submit_loading');
      }, "script");
      return false;
    });

    $j("#chart_controls a:contains('Pie')").button({icons:{primary:'ui-icon-document'}, text:false});
    $j("#chart_controls a:contains('Age')").button({icons:{primary:'ui-icon-person'}, text:false});
    $j("#chart_controls a:contains('Gender')").button({icons:{primary:'ui-icon-close'}, text:false});

<% if @user %>
      $j('#comment_body').keyup(function() {
        update_chars_left(<%= Constants::MAX_COMMENT_LENGTH %>, $j('#comment_body')[0], $j('#limit_status'));
      });
      //and fire it on doc ready, too
      update_chars_left(<%= Constants::MAX_COMMENT_LENGTH %>, $j('#comment_body')[0], $j('#limit_status'));
<%end%>
  });
  //]]>
</script>

<div class=" span-18 last">
  <div class="ui-widget-content prepend-top normal-pad right-mar">
    <div class="">
      <table class="preview-table" id="">
        <tr>
          <td class="preview-box-left right-border">
            <div>
              <div class="bottom-mar-small bottom-border">
                <span class="" id="">
                  <span id="tot_votes"><%= @vote_topic.total_votes  %></span> votes
                </span>
                <span class="go-right" id="">
                  <span id="tot_tracking"><%= @vote_topic.trackings_count %></span> trackings
                </span>
              </div>
              <div>
                <% if @user %>
                  <span class="go-right" id="tracking"><span class="ui-icon ui-icon-heart"></span>
                    <% if @vote_topic.is_being_tracked? @user.id%>
                      <a href="<%= track_user_posted_vote_topic_path(@user, @vote_topic, :untrack => true) %>" id = "track_link" >
                        Untrack</a>
                    <% else %>
                      <a href="<%= track_user_posted_vote_topic_path(@user, @vote_topic) %>" id = "track_link" >
                        Track</a>
                    <% end  %>
                  </span>
                <% end  %>
              </div>
              <%= render :partial => "/shared/ubox", :locals => {:user => @vote_topic.poster} %>
              <div class="clear tag top-mar">
                <span class="ui-icon ui-icon-tag "></span>
                <%= link_to "#{@vote_topic.category.name}, ", category_vote_topics_path(@vote_topic.category,
                  :listing_type => "category") %>
                <%= link_to "#{@vote_topic.poster.city.titleize}, ", searches_path(:city => @vote_topic.poster.city) %>
                <%= link_to "#{@vote_topic.poster.state.titleize}", searches_path(:state => @vote_topic.poster.state) %>
              </div>
              <div class="top-mar">Started - <%= @vote_topic.created_at.strftime('%b %d %Y') %></div>
              <div class="top-mar"><%= @vote_topic.expires < DateTime.now ? "Ended - " : "Ends - " %> <%= @vote_topic.expires.strftime('%b %d %Y') %></div>
              <div class="top-mar">
                <%= power_points @vote_topic %>
              </div>
              <div class="top-mar" id="">
                <a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= share_url %>" data-count="horizontal">Tweet</a>
                <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
              </div>
              <div class="top-mar" id="">
                <a class="DiggThisButton DiggCompact" href="http://digg.com/submit?url=<%=share_url%>"></a>
              </div>
            </div>
          </td>
          <td>
            <blockquote class="preview">
              <span class="big"><%=  @vote_topic.header%></span>
            </blockquote>
            <div id="div_vote_form" class=" rel-pos" >
              <div id="vote_loading" style="display:none">
                <div class="loading-inner-center"></div>
              </div>
              <% if @vote_open %>
                <%if @user && !@vote_topic.vote_items.nil? && !@selected_response%>
                  <%= render :partial => "vote_form", :locals => {:submit_url => process_votes_vote_topic_path(@vote_topic, :user_id => @user.id), :action => 'process'} %>
                <% elsif @user && @selected_response %>
                  <%= render :partial => "vote_form", :locals => {:submit_url => cancel_vote_vote_topic_path(@vote_topic, :user_id => @user.id), :action => 'cancel'} %>
                <% elsif !@user %>
                  <%= render :partial => "vote_form_need_login", :locals => {:action => 'login'} %>
                <% end  %>
              <% else %>
                <%= render :partial => "vote_form_need_login", :locals => {:action => 'login'} %>
              <% end  %>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="top-mar right-mar span-18 last">
    <fb:like href="<%= share_url %>"></fb:like>
</div>



<div id="vote_status" class="span-18 last"></div>


<% if !@vote_topic.vote_facet.nil? %>
  <div id ="facets" class="span-18 last">
    <div class="bordered-all  right-mar ui-corner-all normal-pad">
      <h4 class="bld">About your voters</h4>
      <hr/>
      <ul class="facet-list">
        <%= print_facet @vote_topic.vote_facet %>
      </ul>
    </div>
  </div>
<% end  %>


<div id="comments_container" class=" prepend-top span-18 last append-bottom">
  <span class="bld clearfix bottom-mar">Comments</span>
  <% if @user.nil? %>
    <%= link_to "Please login to comment", login_path  %>
  <% else %>
    <div id ="comment_form" class=" rel-pos right-mar ">
      <div id="com_submit_loading" style="display:none">
        <div class="loading-inner-center" ></div>
      </div>
      <% form_for ([@vote_topic, Comment.new]) do |f| %>
        <ul class="list_no_pad_no_style">
          <li><%= f.text_area :body, :id => "comment_body" %></li>
          <li id="limit_status"></li>
          <li><span class="small-button"><button id ="comment_submit">Comment</button></span></li>
        </ul>
      <% end %>
    </div>
  <% end  %>
</div>

<div id="comment_status" class="span-18 last"></div>

<div id ="comments" class="rel-pos right-mar span-18 last">
  <div id="com_prog_loading" style="display:none">
    <div class="loading-inner-center" ></div>
  </div>
  <%= render :partial => "comments/comments" %>
</div>

<div class="push span-18 last"></div>
<div id="fb-root">
</div>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId: "<%= APP_CONFIG['facebook_app_id']%>"  ,
      status: true,
      cookie: true,
      xfbml: true}
  );
  };
  (function() {
    var e = document.createElement('script');
    e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }()
);
</script>
