<% content_for :title do %>
  <%= @vote_topic.header %>
<% end  %>
<% share_url = Constants::SHARE_URL_PREFIX.concat(url_for(:controller => "vote_topics", :action => "show", :id => @vote_topic.id)) %>
<%content_for :fb_metas do %>
  <meta property="og:title" content="<%= @vote_topic.header %>"/>
  <meta property="og:type" content="<%= @vote_topic.category.name %>"/>
  <meta property="og:url" content="<%= share_url %>"/>
  <meta property="og:site_name" content="votechek"/>
  <meta property="og:description" content="<%= @vote_topic.topic[0..20]%>"/>
  <meta property="fb:app_id" content="<%= APP_CONFIG['facebook_app_id'] %>"/>
<% end  %>



<script type="text/javascript">
  //<![CDATA[

  function update_chars_left(max_len, target_input, display_element) {
    var text_len = target_input.value.length;
    if (text_len >= max_len) {
      target_input.value = target_input.value.substring(0, max_len); // truncate
      display_element.html("0 characters left");
    } else {
      display_element.html((max_len - text_len) + " characters left");
    }
  }


  $(document).ready(function() {
    $('.take-action').live('click', function() {
      if ($(this).hasClass('vote')) {
        //post vote
        $.ajax({type: 'POST',
          url:'<%= process_votes_vote_topic_path(@vote_topic) %>',
          data: {vote_open: $('#vote_open').val(), reg_complete : $('#reg_complete').val(), response : $(this).attr('id'), user_id : $('#user_id').val(), id:$('#vote_id').val()},
          success : function() {
            //$('#vote_status').html('Vote Accepted.');
          },
          error:function(){
            $('#flash_messages').append('<div></div>').attr('class', 'error').text('Sorry. An error occured. Please try later.');
          },
          beforeSend : function() {
            showLoading($('#vote_loading'))
          },
          complete: function() {
            hideLoading($('#vote_loading'))
          }
        });
      } else {
        //cancel vote
        $.ajax({type: 'POST',
          url:'<%= cancel_vote_vote_topic_path(@vote_topic) %>',
          data: {vote_open: $('#vote_open').val(),reg_complete:$('#reg_complete').val(),response : $(this).attr('id'), user_id : $('#user_id').val(), id:$('#vote_id').val()},
          success : function() {
            //$('#vote_status').html('Vote Cancelled.');
          },
          error:function(){
            $('#flash_messages').append('<div></div>').attr('class', 'error').text('Sorry. An error occured. Please try later.');
          },
          beforeSend : function() {
            showLoading($('#vote_loading'))
          },
          complete: function() {
            hideLoading($('#vote_loading'))
          }
        });
      }
      return false;
    });
    $('#tabs').tabs( {spinner:"<img src='/images/loading.gif'/>", ajaxOptions:{error:function(xhr, status,index, anchor){$(anchor.hash).html("Couldn't load this tab. \n\
        We'll try to fix this as soon as possible.");
        },  dataType:'script', success:function(){
        }}});

    function updatePageElems() {
      showLoading($('#vote_loading'));
      $.get('<%=  update_stats_vote_topic_path(@vote_topic)  %>',
      {user_id: $('#user_id').val(), reg_complete:$('#reg_complete').val()},
      function(data){
        hideLoading($('#vote_loading'));
      },
      'script');
    }
    var refreshId = setInterval(function(){
      //check if the user has voted, logged in, registered and vote is open
      if ($('#user_id').val() != "" &&  $('#reg_complete').val != "" && $('#vote_open').val () == "true") {
        updatePageElems();
      }
    }, <%= Constants::VOTE_REFRESH_INTERVAL%> );

    $('#goto_comment_link').button({text:false, icons:{primary:'ui-icon-comment'}});
    $('#vote_login_link').button({icons:{primary:'ui-icon-key'}});

    $('#comment_submit').button({icons:{primary:'ui-icon-comment'}}).click(function() {
      $('#new_comment').submit();
      return false;
    });

    $('#trackings').live('click', function() {
      $.post($(this).attr('href'), function(){});
      return false;
    });

    $('#track_link').tooltip({
      relative : true
    });

    $('#new_comment').submit(function (){
      showLoading('#com_submit_loading')
      $.post($(this).attr('action'), $(this).serialize(), function(data) {
        hideLoading('#com_submit_loading');
      }, "script");
      return false;
    });


<% if @user %>
      $('#comment_body').keyup(function() {
        update_chars_left(<%= Constants::MAX_COMMENT_LENGTH %>, $('#comment_body')[0], $('#limit_status'));
      });
      //and fire it on doc ready, too
      update_chars_left(<%= Constants::MAX_COMMENT_LENGTH %>, $('#comment_body')[0], $('#limit_status'));
<%end%>
  });
  //]]>
</script>

<div class=" span-18 last">
  <div class="ui-widget-content prepend-top normal-pad right-mar">
    <div class="">
      <table class="preview-table" id="">
        <tr>
          <td class="preview-box-left right-border">
            <div>
              <div class="bottom-mar-small bottom-border">
                <span class="" id="">
                  <span id="tot_votes"><%= @vote_topic.votes_count%></span> votes
                </span>
                <span class="go-right tracking-count" id="">
                  <span id="tot_tracking" ><%= @vote_topic.trackings_count %></span> trackings
                </span>
                <%= render :partial => "/shared/tracking_tooltip" %>
              </div>
              <div>
                <% if @user %>
                  <span class="go-right" id="tracking"><span class="ui-icon ui-icon-heart"></span>
                    <% if @vote_topic.is_being_tracked? @user.id%>
                      <a href="<%= track_user_posted_vote_topic_path(@user, @vote_topic, :untrack => true) %>" id = "track_link" >
                        Untrack</a>

                    <% else %>
                      <a href="<%= track_user_posted_vote_topic_path(@user, @vote_topic) %>" id = "track_link">
                        Track</a>
                    <% end  %>
                  </span>
                  <%= render :partial => "/shared/add_tracking_tooltip" %>
                <% end  %>
              </div>
              <%= render :partial => "/shared/ubox", :locals => {:user => @vote_topic.poster} %>
              <div class="clear tag top-mar">
                <span class="ui-icon ui-icon-tag "></span>
                <%= link_to "#{@vote_topic.category.name}, ", category_vote_topics_path(@vote_topic.category,
                  :listing_type => "category") %>
                <%= link_to "#{@vote_topic.poster.city.titleize}, ", searches_path(:city => @vote_topic.poster.city) %>
                <%= link_to "#{@vote_topic.poster.state.titleize}", searches_path(:state => @vote_topic.poster.state) %>
              </div>
              <div class="top-mar">Started - <%= @vote_topic.created_at.strftime('%b %d %Y') %></div>
              <div class="top-mar"><%= @vote_topic.expires < DateTime.now ? "Ended - " : "Ends - " %> <%= @vote_topic.expires.strftime('%b %d %Y') %></div>
              <div class="top-mar">
                <%= power_points @vote_topic %>
              </div>

            </div>
          </td>
          <td>
            <blockquote class="preview">
              <span class="big"><%=  @vote_topic.header%></span>
            </blockquote>
            <p>
              <%= @vote_topic.topic %>
            </p>
            <% unless @vote_topic.website.nil? %>
              <p>
                <a href="<%= @vote_topic.website %>" class="" target ="_blank" id="">
                  External link
                  <span class="ui-icon ui-icon-extlink" id="">
                  </span>
                </a>
              </p>
            <% end  %>
            <%= render :partial => "vote_control" %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="top-mar right-mar span-18 last append-bottom">
  <div class="right-mar">
    <table class="generic-box" id="">
      <tr>
        <td class="top-al">
          <a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= share_url %>" data-count="horizontal">Tweet</a>
          <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </td>
        <td class="top-al">
          <a class="DiggThisButton DiggCompact" href="http://digg.com/submit?url=<%=share_url%>"></a>
        </td>
        <td class="top-al">
      <fb:like href="<%= share_url %>" width="450"></fb:like>
      </td>
      </tr>
    </table>
  </div>
</div>

<% if !@vote_topic.vote_facet.nil? %>
  <div id ="facets" class="span-18 last">
    <div class="bordered-all  right-mar ui-corner-all normal-pad">
      <h4 class="bld">About your voters</h4>
      <hr/>
      <ul class="facet-list">
        <%= print_facet @vote_topic.vote_facet %>
      </ul>
    </div>
  </div>
<% end  %>


<div id="comments_container" class=" prepend-top span-18 last append-bottom">
  <span class="bld clearfix bottom-mar">Comments</span>
  <% if @user.nil? %>
    <%= link_to "Please login to comment", login_path  %>
  <% else %>
    <div id ="comment_form" class=" rel-pos right-mar ">
      <div id="com_submit_loading" style="display:none">
        <div class="loading-inner-center" ></div>
      </div>
      <% form_for ([@vote_topic, Comment.new]) do |f| %>
        <ul class="list_no_pad_no_style">
          <li><%= f.text_area :body, :id => "comment_body" %></li>
          <li id="limit_status"></li>
          <li><span class="small-button"><button id ="comment_submit">Comment</button></span></li>
        </ul>
      <% end %>
    </div>
  <% end  %>
</div>

<div id="comment_status" class="span-18 last"></div>

<div id ="comments" class="rel-pos right-mar span-18 last">
  <div id="com_prog_loading" style="display:none">
    <div class="loading-inner-center" ></div>
  </div>
  <%= render :partial => "comments/comments" %>
</div>

<div class="push span-18 last"></div>
<div id="fb-root">
</div>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId: "<%= APP_CONFIG['facebook_app_id']%>"  ,
      status: true,
      cookie: true,
      xfbml: true}
  );
  };
  (function() {
    var e = document.createElement('script');
    e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }()
);
</script>

<script type="text/javascript" src ="http://widgets.digg.com/buttons.js"/>
<script type="text/javascript">
  (function() {
    var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
    s.type = 'text/javascript';
    s.async = true;
    s.src = 'http://widgets.digg.com/buttons.js';
    s1.parentNode.insertBefore(s, s1);
  })();
</script>
