
<script type="text/javascript">
  //<![CDATA[
  google.load("prototype", "1.6.1.0");
  
  google.setOnLoadCallback(function() {
    $('pic_loading_g').setStyle({
      opacity: 0.0
    });

    Ajax.Responders.register({
      onCreate: function() {
        $('pic_loading_g').setStyle({
          opacity: 1.0
        });
        return false;
      },
      onComplete: function() {
        $('pic_loading_g').setStyle({
          opacity: 0.0
        });
        return false;
      }
    });

  });
  function showLoading(elem) {
    $j(elem).animate({opacity:1.0}, 'slow', function(){});
    $j(elem).next('div').animate({
      opacity: 0.3
    }, 'slow', function() {
    });
  }

  function hideLoading(elem) {
    $j(elem).animate({opacity:0.0}, 'slow', function(){});
    $j(elem).next('div').animate({
      opacity: 1.0
    }, 'slow', function() {
    });
  }
  
  $j(document).ready(function() {
    $j('.pagination a').live("click", function () {
      showLoading('#com_prog_loading');
      $j.get(this.href, null, function (data) {
        hideLoading('#com_prog_loading')
      }, 'script');
      return false;
    }); 
    
    $j('#vote_link').live('click',function() {
      $j('#vote_form').submit();
      return false;
    });
 
    $j('#cancel_vote_link').live('click', function() {
      $j('#cancel_vote_form').submit();
      return false;
    });

    $j('#comment_submit').click(function() {
      $j('#new_comment').submit();
      return false;
    });

    $j('#vote_form').submit(function (){
      showLoading('#vote_prog_loading')
      $j.post($j(this).attr('action'), $j(this).serialize(), function(data) {
        hideLoading('#vote_prog_loading');
      }, "script");
      return false;
    });

    $j('#cancel_vote_form').submit(function (){
      showLoading('#vote_prog_loading')
      $j.post($j(this).attr('action'), $j(this).serialize(), function(data) {
        hideLoading('#vote_prog_loading');
      }, "script");
      return false;
    });

    $j('#new_comment').submit(function (){
      showLoading('#com_prog_loading')
      $j.post($j(this).attr('action'), $j(this).serialize(), function(data) {
        hideLoading('#com_prog_loading');
      }, "script");
      return false;
    });

  });
  //]]>
</script>

<div class="topic-details span-18 last">
  <% total_v = @vote_topic.total_votes %>
  <div class=" ui-state-hover ui-corner-all prepend-top  top-pad bottom-pad left-pad right-pad right_mar_small">
    <span class="clearfix lrg bld"><%= @vote_topic.header %></span>
    <span class="bld big special_text right_mar_small"><%= "#{total_v} Votes" %></span>
    <span>
      <% if !@vote_topic.anon %>
        <%= "Posted by #{link_to @vote_topic.user.username, @vote_topic.user} on #{@vote_topic.created_at.strftime('%b %d %Y')}" %>
      <% else %>
        <%= "Posted by Anonymous on #{@vote_topic.created_at.strftime('%b %d %Y')}" %>
      <% end  %>
    </span>
  </div>
  <span class="clearfix prepend-top "><%= @vote_topic.topic %></span>

  <div id="vote_details" class=" top-mar">
    <% if !total_v.nil? && total_v > 0 %>
      <ul>
        <% @vote_items.each do |v| %>
          <li>
            <%= get_vote_percent v, total_v %>
          </li>
        <% end  %>
      </ul>
    <% end  %>
  </div>
</div>

<div id="vote_prog_loading" class="progress" style="opacity:0;"></div>

<div id="div_vote_form" class="span-18 last" >
  <%@vote_items = @vote_topic.vote_items if !@vote_topic.nil?%>
<%# complete = @vote_topic.is_vote_complete?(@vote_items, current_user) %>
  <%if current_user && !@vote_items.nil? && !@selected_response%>
    <%= render :partial => "vote_form" %>
  <% elsif current_user && @selected_response %>
    <%= render :partial => "vote_cancel_form" %>
  <% elsif !current_user %>
    <div class="prepend-top append-bottom">
      <%= color_link_with_icon("lnk", login_path, "ui-icon-key", "Login to Vote") %>
    </div>
  <% end  %>
</div>


<div id="vote_dlg" class="span-18 last">
  <% if @vote_topic.total_votes > 0 %>
    <%= render :partial => "vote_tally"%>
  <% end  %>
</div>

<div id="comments_container" class="span-18 last">
  <% if current_user.nil? %>
    <%= link_to "Please login to comment", login_path  %>
  <% else %>
    <div id ="comment_form">
      <% form_for ([@vote_topic, Comment.new]) do |f| %>
        <ul>
          <li><%= f.text_area :body, :size => "50x5" %></li>
          <li><%= color_link_with_icon("comment_submit", "#", "ui-icon-trash", "Comment") %></li>
        </ul>
      <% end %>
    </div>
  <% end  %>

  <div id="com_prog_loading" class="progress" style="opacity:0;"></div>
  <div id ="comments">
    <%= render :partial => "comments/comments" %>
  </div>
</div>

