<% if local_assigns[:vi].nil? %>
  <% vi = vt.get_sorted_vi if !vt.nil? %>
<% end  %>
<% if local_assigns[:top_vote].nil? %>
  <% top_vote = false %>
<% end  %>

<% if !vt.nil? %>
  <div class="ui-widget-content bottom-mar normal-pad right-mar">
    <div class="clearfix bld bottom-mar ui-widget-header normal-pad">
      <% if top_vote %>
        <span class="ui-icon ui-icon-star"></span>
      <% end  %>
      <span class="big"><%= link_to vt.header, vt %></span>
      <span class="special-text"><%= "(#{vt.total_votes} votes)"  %></span>
      <span class="ui-icon ui-icon-tag"></span><span class="bld tag"><%= link_to "In #{vt.category.name}", category_vote_topics_path(vt.category) %></span>
      <span class="small clearfix">
        <% if !vt.anon %>
          <%= "By #{link_to vt.user.username, vt.user} on #{vt.created_at.strftime('%b %d %Y')}" %>
        <% else %>
          <%= "By Anonymous on #{vt.created_at.strftime('%b %d %Y')}" %>
        <% end  %>
      </span>
    </div>
    <ul>
      <% first = true %>
      <% vi.each do |v| %>
        <li>
          <% if first %>
            <span class="ui-icon ui-icon-arrowthick-1-n list-icon"></span>
            <span class="bld"><%=  get_vote_percent(v, vt.total_votes)%></span>
            <% first = false %>
          <% else %>
            <span class="ui-icon ui-icon-document list-icon"></span>
            <span><%=  get_vote_percent(v, vt.total_votes)%></span>
          <% end  %>

        </li>
      <% end  %>
    </ul>
  </div>
<% end  %>